<div class="hot-artcles">
  <div class="hot-artcles-left">
    <ng-container *ngFor="let item of artclesHotMain; let i = index">
      <div *ngIf="i >= 3 && i <= 7">
        <div
          class="artcle-left-item"
          [routerLink]="[
            '/',
            'bai-viet',
            item?.new_article?.slug,
            item?.new_article?.slug_crc
          ]"
        >
          <img [src]="item?.new_article?.avatar" alt="" />
          <div class="artcle-left-item-infor">
            <b>{{ item.new_article?.title }}</b>
          </div>
        </div>
        <hr />
      </div>
    </ng-container>
  </div>
  <div class="hot-artcles-center">
    <div
      class="artcle-center-item"
      [routerLink]="[
        '/',
        'bai-viet',
        artclesHotMain[0]?.new_article?.slug,
        artclesHotMain[0]?.new_article?.slug_crc
      ]"
    >
      <img
        [src]="artclesHotMain && artclesHotMain[0]?.new_article.avatar"
        alt=""
      />
      <b>{{ artclesHotMain && artclesHotMain[0].new_article.title }}</b>
      <p>
        {{ artclesHotMain && artclesHotMain[0].new_article.sapo }}
      </p>
    </div>
  </div>
  <div class="hot-artcles-right">
    <ng-container *ngFor="let item of artclesHotMain; let i = index">
      <div
        class="artcle-right-item"
        *ngIf="i === 1 || i == 2"
        [routerLink]="[
          '/',
          'bai-viet',
          item?.new_article?.slug,
          item?.new_article?.slug_crc
        ]"
      >
        <img [src]="item.new_article.avatar" alt="" />
        <b>{{ item.new_article.title }}</b>
      </div>
    </ng-container>
  </div>
</div>
<hr />
<h3 class="title">BOOKS</h3>
<app-carousel></app-carousel>
<hr />
<div class="center-page">
  <div class="new-artcles">
    <div class="" *ngFor="let item of newArtcles">
      <div class="new-artcle-item">
        <img [src]="item.new_article.avatar" alt="" />
        <div class="new-artcle-infor">
          <h2>{{ item.new_article.title }}</h2>
          <p>
            {{ item.new_article.sapo }}
          </p>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="center-page-right">
    <div class="artcles-view-most">
      <h3 class="title">Đọc nhiều</h3>
      <div class="artcles-view-most-item" *ngFor="let item of articlesViews">
        <img [src]="item.avatar" alt="" />
        <div class="artcles-view-most-item-infor">
          <p class="most-item-infor-cate">
            {{ item.new_articles_category.new_category.name }}
          </p>
          <b class="most-item-infor-title">{{ item.title }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slide -->
<ng-container *ngFor="let item of artclesHotCate">
  <div class="" *ngIf="item.new_articles_hot_categories.length >= 8">
    <h2 class="title">Kinh doanh</h2>
    <div class="hot-artcles-category">
      <div class="hot-artcles-category-left">
        <div class="artcle-category-left-item">
          <img
            [src]="item.new_articles_hot_categories[0].new_article.avatar"
            alt=""
          />
          <b>{{ item.new_articles_hot_categories[0].new_article.title }}</b>
          <p>
            Cảnh sát đến hiện trường đập cửa sổ phòng ở lầu 3, căn nhà cao 4
            tầng trên đường Hưng Hóa, quận Tân Bình (TP.HCM), khống chế hỏa
            hoạn.
          </p>
        </div>
      </div>
      <div class="hot-artcles-category-center">
        <div class="artcle-category-center-item">
          <img
            [src]="item.new_articles_hot_categories[1].new_article.avatar"
            alt=""
          />
          <b>{{ item.new_articles_hot_categories[1].new_article.title }}</b>
        </div>
        <div class="artcle-category-center-item">
          <img
            [src]="item.new_articles_hot_categories[2].new_article.avatar"
            alt=""
          />
          <b>{{ item.new_articles_hot_categories[2].new_article.title }}</b>
        </div>
      </div>
      <div class="hot-artcles-category-right">
        <div class="artcle-category-right-item">
          <b>{{ item.new_articles_hot_categories[3].new_article.title }}</b>
          <img
            [src]="item.new_articles_hot_categories[3].new_article.avatar"
            alt=""
          />
        </div>
        <hr />
        <div class="artcle-category-right-item">
          <b>{{ item.new_articles_hot_categories[4].new_article.title }}</b>
          <img
            [src]="item.new_articles_hot_categories[4].new_article.avatar"
            alt=""
          />
        </div>
        <hr />
        <div class="artcle-category-right-item">
          <b>{{ item.new_articles_hot_categories[5].new_article.title }}</b>
          <img
            [src]="item.new_articles_hot_categories[5].new_article.avatar"
            alt=""
          />
        </div>
        <hr />
        <div class="artcle-category-right-item">
          <b>{{ item.new_articles_hot_categories[6].new_article.title }}</b>
          <img
            [src]="item.new_articles_hot_categories[6].new_article.avatar"
            alt=""
          />
        </div>
        <hr />
        <div class="artcle-category-right-item">
          <b>{{ item.new_articles_hot_categories[7].new_article.title }}</b>
          <img
            [src]="item.new_articles_hot_categories[7].new_article.avatar"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>

<hr />
<div class="hot-new-categories">
  <ng-container *ngFor="let item of artclesHotCate">
    <div
      class="hot-new-category"
      *ngIf="
        item.new_articles_hot_categories.length >= 3 &&
        item.new_articles_hot_categories.length < 8
      "
    >
      <h3 class="category-title title">{{ item.name }}</h3>
      <div class="hot-new-category-main">
        <img
          [src]="item?.new_articles_hot_categories[0]?.new_article.avatar"
          alt=""
        />
        <b class="hot-new-category-main-title">{{
          item?.new_articles_hot_categories[0]?.new_article.title
        }}</b>
      </div>
      <hr />
      <div class="hot-new-category">
        <img
          [src]="item?.new_articles_hot_categories[1]?.new_article.avatar"
          alt=""
        />
        <b class="hot-new-category-title">{{
          item?.new_articles_hot_categories[1]?.new_article.title
        }}</b>
      </div>
      <hr />
      <div class="hot-new-category">
        <img
          [src]="item?.new_articles_hot_categories[2]?.new_article.avatar"
          alt=""
        />
        <b class="hot-new-category-title">{{
          item?.new_articles_hot_categories[2]?.new_article.title
        }}</b>
      </div>
    </div>
  </ng-container>
</div>
