<div class="hot-artcles">
  <div class="hot-artcles-left">
    <div class="artcle-left-item">
      <img
        [src]="artclesHotMain && artclesHotMain[3]?.new_article?.avatar"
        alt=""
      />
      <div class="artcle-left-item-infor">
        <b>{{ artclesHotMain && artclesHotMain[3].new_article?.title }}</b>
      </div>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        [src]="artclesHotMain && artclesHotMain[4]?.new_article.avatar"
        alt=""
      />
      <div class="artcle-left-item-infor">
        <b>{{ artclesHotMain && artclesHotMain[4].new_article.title }}</b>
      </div>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        [src]="artclesHotMain && artclesHotMain[5]?.new_article.avatar"
        alt=""
      />
      <div class="artcle-left-item-infor">
        <b>{{ artclesHotMain && artclesHotMain[5].new_article.title }}</b>
      </div>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        [src]="artclesHotMain && artclesHotMain[6]?.new_article.avatar"
        alt=""
      />
      <div class="artcle-left-item-infor">
        <b>{{ artclesHotMain && artclesHotMain[6].new_article.title }}</b>
      </div>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        [src]="artclesHotMain && artclesHotMain[7]?.new_article.avatar"
        alt=""
      />
      <div class="artcle-left-item-infor">
        <b>{{ artclesHotMain && artclesHotMain[7].new_article.title }}</b>
      </div>
    </div>
  </div>
  <div class="hot-artcles-center">
    <div class="artcle-center-item">
      <img
        [src]="artclesHotMain && artclesHotMain[0]?.new_article.avatar"
        alt=""
      />
      <b>{{ artclesHotMain && artclesHotMain[0].new_article.title }}</b>
      <p>
        {{ artclesHotMain && artclesHotMain[0].new_article.sapo }}
      </p>
    </div>
  </div>
  <div class="hot-artcles-right">
    <div class="artcle-right-item">
      <img
        [src]="artclesHotMain && artclesHotMain[1]?.new_article.avatar"
        alt=""
      />
      <b>{{ artclesHotMain && artclesHotMain[1].new_article.title }}</b>
    </div>
    <div class="artcle-right-item">
      <img
        [src]="artclesHotMain && artclesHotMain[2]?.new_article.avatar"
        alt=""
      />
      <b>{{ artclesHotMain && artclesHotMain[2].new_article.title }}</b>
    </div>
  </div>
</div>
<hr />
<h3 class="title">BOOKS</h3>
<app-carousel></app-carousel>
<hr />
<div class="center-page">
  <div class="new-artcles">
    <div class="" *ngFor="let item of newArtcles">
      <div class="new-artcle-item">
        <img [src]="item.new_article.avatar" alt="" />
        <div class="new-artcle-infor">
          <h2>{{ item.new_article.title }}</h2>
          <p>
            {{ item.new_article.sapo }}
          </p>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="center-page-right">
    <div class="artcles-view-most">
      <h3 class="title">Đọc nhiều</h3>
      <div class="artcles-view-most-item" *ngFor="let item of articlesViews">
        <img [src]="item.avatar" alt="" />
        <div class="artcles-view-most-item-infor">
          <p class="most-item-infor-cate">
            {{ item.new_articles_category.new_category.name }}
          </p>
          <b class="most-item-infor-title">{{ item.title }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slide -->
<h2 class="title">Kinh doanh</h2>
<div class="hot-artcles-category">
  <div class="hot-artcles-category-left">
    <div class="artcle-category-left-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <p>
        Cảnh sát đến hiện trường đập cửa sổ phòng ở lầu 3, căn nhà cao 4 tầng
        trên đường Hưng Hóa, quận Tân Bình (TP.HCM), khống chế hỏa hoạn.
      </p>
    </div>
  </div>
  <div class="hot-artcles-category-center">
    <div class="artcle-category-center-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
    <div class="artcle-category-center-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
  </div>
  <div class="hot-artcles-category-right">
    <div class="artcle-category-right-item">
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
    </div>
    <hr />
    <div class="artcle-category-right-item">
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
    </div>
    <hr />
    <div class="artcle-category-right-item">
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
    </div>
    <hr />
    <div class="artcle-category-right-item">
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
    </div>
    <hr />
    <div class="artcle-category-right-item">
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
<hr />
<div class="hot-new-categories">
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
  <div class="hot-new-category">
    <h3 class="category-title title">Xuất bản</h3>
    <div class="hot-new-category-main">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-main-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
    <hr />
    <div class="hot-new-category">
      <img
        src="https://znews-photo.zingcdn.me/w360/Uploaded/mzdgi/2023_05_15/55cae6ec53b28decd4a3.jpg"
        alt=""
      />
      <b class="hot-new-category-title"
        >Dấu ấn văn hóa Pháp qua âm nhạc, văn chương</b
      >
    </div>
  </div>
</div>
