<div class="hot-artcles">
  <div class="hot-artcles-left">
    <div class="artcle-left-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
    <hr />
    <div class="artcle-left-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
  </div>
  <div class="hot-artcles-center">
    <div class="artcle-center-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
      <p>
        Cảnh sát đến hiện trường đập cửa sổ phòng ở lầu 3, căn nhà cao 4 tầng
        trên đường Hưng Hóa, quận Tân Bình (TP.HCM), khống chế hỏa hoạn.
      </p>
    </div>
  </div>
  <div class="hot-artcles-right">
    <div class="artcle-right-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
    <div class="artcle-right-item">
      <img
        src="https://znews-photo.zingcdn.me/w960/Uploaded/zyxx/2023_05_14/nha_o_xa_hoi_1_1_.jpeg"
        alt=""
      />
      <b>Chuyên gia: Nhà ở xã hội vẫn là bài toán nan giải</b>
    </div>
  </div>
</div>
