.header{
  width: 1100px;
  display: flex;
  align-items: center;
  .logo {
    width: 20%;
    .header_logo {
      height: 29px;
    }
    .top-header {
      margin: 0;
      font-size: 7px;
      font-weight: 600;
    }
  }
  .categories {
    display: flex;
    height: 100%;
    width: 65%;
    .cate-item {
      flex:1;
      height: 100%;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      span {
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
      }

    }
  }
  .tool {
    width: 15%;
    justify-content: flex-end;
    display: flex;
    height: max-content;
    gap:30px;
    font-size: 22px;
    color : #444444;
    position: relative;
    height: 100%;
    z-index: 5;
    input {
      position: absolute;
      z-index: 4;
      right: 45px;
      height: 100%;
      width: 150%;
      background: #444444;
      border-radius: 5px;
      color: rgb(164, 162, 162);
      box-sizing: border-box;
    }
    .searchBtn{
      position: absolute;
      z-index: 5;
      right: 30px;
      color:wheat
    }

  }
}
.active{
 color:#096ffa;
 position: relative;
}
.active::after{
  position: absolute;
  content: "";
  background-color: #096ffa;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -18px;
}
