<div class="header">
  <div class="logo">
    <p class="top-header">TẠP CHÍ TRI THỨC TRỰC TUYẾN</p>
    <img
      src="https://static-znews.zingcdn.me/images/logo-zing-home.svg"
      alt=""
      class="header_logo"
    />
  </div>
  <div class="categories">
    <div class="cate-item">
      <p>Xuất bản</p>
    </div>
    <div class="cate-item">
      <p>Thể thao</p>
    </div>
    <div class="cate-item">
      <p>Kinh doanh</p>
    </div>
    <div class="cate-item">
      <p>Giải trí</p>
    </div>
    <div class="cate-item">
      <p>Đời sống</p>
    </div>
    <div class="cate-item">
      <p>SEA Games 32</p>
    </div>
    <div class="cate-item">
      <p>Công nghệ</p>
    </div>
  </div>
</div>
