<div class="header">
  <div class="logo" (click)="clickLogo()">
    <p class="top-header">TẠP CHÍ TRI THỨC TRỰC TUYẾN</p>
    <img
      src="https://static-znews.zingcdn.me/images/logo-zing-home.svg"
      alt=""
      class="header_logo"
    />
  </div>
  <div class="categories">
    <div class="cate-item" *ngFor="let item of this.CategoryService.categories">
      <b
        [routerLink]="['/', 'danh-muc', item.slug, item.slug_crc]"
        routerLinkActive="active"
      >
        {{ item.name }}
      </b>
    </div>
  </div>
  <div class="tool">
    <input
      type="text"
      placeholder="Nhập nội dung cần tìm"
      #input
      [formControl]="searchControl"
      (blur)="blurInput()"
    />
    <fa-icon
      [icon]="faMagnifyingGlass"
      class="searchBtn activeShowInput"
      #searchBtn
      (mouseup)="toogleInput()"
    >
    </fa-icon>
    <div
      class="avatar"
      *ngIf="this.UserService.inforUser?.avatar; else profile"
    >
      <img [src]="this.UserService.inforUser?.avatar" alt="" />
    </div>

    <!-- <fa-icon [icon]="faUser"></fa-icon> -->
  </div>
</div>
<ng-template #profile>
  <a href="http://localhost:4000/api/v1/auth/google">
    <fa-icon [icon]="faUser"></fa-icon>
  </a>
</ng-template>
