<p class="light">Tạo một người sử dụng mới và thêm vào trang mạng này.</p>
<div class="container">
      <div class="edit-field">
            <label for="name">Tên người dùng</label>
            <input type="text" id="name" />
      </div>
      <div class="edit-field">
            <label for="email">Email</label>
            <input type="text" id="email" />
      </div>
      <div class="edit-field">
            <label for="role">Vai trò</label>
            <select>
                  <option [value]="1">Cộng tác viên</option>
                  <option [value]="2">Quản trị viên</option>
            </select>
      </div>
</div>
