<!-- <table>
      <tr>
            <th><div class="header-stt"></div></th>
            <th>
                  <div class="header-name" (click)="filterFn('title')">
                        <span>Tên danh mục</span>
                        <div [ngSwitch]="filterCurr.title">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-cate" (click)="filterFn('category_id')">
                        <span>Số lượng bài viết</span>
                        <div [ngSwitch]="filterCurr.category_id">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-view" (click)="filterFn('views')">
                        <span>Số danh mục con</span>
                        <div [ngSwitch]="filterCurr.views">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-slug" (click)="filterFn('slug')">
                        <span>Đường dẫn</span>
                        <div [ngSwitch]="filterCurr.slug">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-slug" (click)="filterFn('slug')">
                        <span>Trạng thái</span>
                        <div [ngSwitch]="filterCurr.slug">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div
                        class="header-date-published"
                        (click)="filterFn('publishAt')"
                  >
                        <span>Ngày tạo</span>
                        <div [ngSwitch]="filterCurr.publishAt">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div
                        class="header-date-published"
                        (click)="filterFn('publishAt')"
                  >
                        <span>Ngày cập nhật</span>
                        <div [ngSwitch]="filterCurr.publishAt">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th></th>
      </tr>
      <ng-container *ngFor="let item of categories; let i = index">
            <tr class="" [ngClass]="{ selected: item.opened }">
                  <td class="item-stt" (click)="log(i)">
                        <div class="icon">
                              <fa-icon
                                    [icon]="
                                          item.opened &&
                                          item.childCategories.length > 0
                                                ? faAngleUp
                                                : faAngleDown
                                    "
                              ></fa-icon>
                        </div>
                  </td>
                  <td class="item-name">
                        <span>{{ item.name }}</span>
                  </td>
                  <td class="item-cate">
                        <span>{{ item?.articles?.length }}</span>
                  </td>
                  <td class="item-view">
                        <span>{{ item.childCategories.length }}</span>
                  </td>
                  <td class="item-slug">
                        <span>{{ item.slug }}</span>
                  </td>
                  <td class="item-status">
                        <span
                              [class]="
                                    item.status === 1 ? 'success' : 'pending'
                              "
                              >{{
                                    item.status === 1
                                          ? "Đã xuất bản"
                                          : "Chờ phê duyệt"
                              }}</span
                        >
                  </td>
                  <td class="item-date-published">
                        <span>{{ item.createdAt | datePipe }}</span>
                  </td>
                  <td class="item-date-created">
                        <span>{{ item.createdAt | datePipe }}</span>
                  </td>
                  <td class="item-edit">
                        <button
                              mat-icon-button
                              [matMenuTriggerFor]="menu"
                              aria-label="Example icon-button with a menu"
                        >
                              <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="openDialog(item)">
                                    <span>Xóa</span>
                              </button>
                              <button
                                    mat-menu-item
                                    (click)="
                                          item.status === 0
                                                ? publishedCate(item.id)
                                                : unPublishedCate(item.id)
                                    "
                              >
                                    <span>{{
                                          item.status === 1
                                                ? "Thu hồi"
                                                : "Duyệt"
                                    }}</span>
                              </button>
                        </mat-menu>
                  </td>
            </tr>
            <ng-container *ngIf="item.opened">
                  <tr
                        *ngFor="let sub_item of item.childCategories"
                        class="sub-item"
                  >
                        <td></td>
                        <td>
                              <span>{{ sub_item.name }}</span>
                        </td>
                        <td>
                              <span>{{ sub_item.articles?.length }}</span>
                        </td>
                        <td></td>
                        <td>
                              <span>{{ sub_item.slug }}</span>
                        </td>
                        <td>
                              <span
                                    [class]="
                                          sub_item.status === 1
                                                ? 'success'
                                                : 'pending'
                                    "
                                    >{{
                                          sub_item.status === 1
                                                ? "Đã xuất bản"
                                                : "Chờ phê duyệt"
                                    }}</span
                              >
                        </td>
                        <td>
                              <span>{{ sub_item.createdAt | datePipe }}</span>
                        </td>
                        <td>
                              <span>{{ sub_item.createdAt | datePipe }}</span>
                        </td>
                        <td>
                              <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu"
                              >
                                    <fa-icon
                                          [icon]="faEllipsisVertical"
                                    ></fa-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                    <button
                                          mat-menu-item
                                          (click)="openDialog(sub_item)"
                                    >
                                          <span>Xóa</span>
                                    </button>
                                    <button
                                          mat-menu-item
                                          (click)="
                                                sub_item.status === 0
                                                      ? publishedCate(
                                                              sub_item.id
                                                        )
                                                      : unPublishedCate(
                                                              sub_item.id
                                                        )
                                          "
                                    >
                                          <span>{{
                                                sub_item.status === 1
                                                      ? "Thu hồi"
                                                      : "Duyệt"
                                          }}</span>
                                    </button>
                              </mat-menu>
                        </td>
                  </tr>
            </ng-container>
      </ng-container>
</table>
<mat-paginator
      #paginator
      class="demo-paginator"
      aria-label="Select page"
      [length]="CategoryService.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
>
</mat-paginator>
<div class="layout-edit-cateogries">
      <p class="title">
            <b>Chỉnh vị trí của danh mục trên thanh điều hướng ( Header )</b>
      </p>
      <div cdkDropListGroup>
            <div class="example-container">
                  <h4>Danh sách danh mục :</h4>
                  <div
                        cdkDropList
                        [cdkDropListData]="categorySort"
                        class="example-list-1"
                        (cdkDropListDropped)="drop($event)"
                        cdkDropListOrientation="horizontal"
                  >
                        <ng-container *ngFor="let item of categorySort">
                              <div
                                    class="example-box-1"
                                    cdkDrag
                                    *ngIf="item.status !== 0"
                              >
                                    {{ item.name }}
                              </div>
                        </ng-container>
                  </div>
            </div>

            <div class="example-container">
                  <div class="header">
                        <div class="logo">
                              <p class="top-header">
                                    TẠP CHÍ TRI THỨC TRỰC TUYẾN
                              </p>
                              <img
                                    src="https://static-znews.zingcdn.me/images/logo-zing-home.svg"
                                    alt=""
                                    class="header_logo"
                              />
                        </div>
                        <div
                              cdkDropList
                              [cdkDropListData]="done"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)"
                              cdkDropListOrientation="horizontal"
                        >
                              <div
                                    class="example-box"
                                    *ngFor="let item of done"
                                    cdkDrag
                              >
                                    {{ item.name }}
                              </div>
                        </div>
                        <div class="right_header">
                              <div class="avatar" mat-button>
                                    <div class="btnSignIn">
                                          <button
                                                mat-raised-button
                                                color="primary"
                                                (click)="comfirmCates()"
                                                [disabled]="changePosition"
                                          >
                                                Xác nhận
                                          </button>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div> -->
<div class="container">
      <form [formGroup]="formCreate" class="create">
            <h3>Thêm chuyên mục</h3>
            <div class="input-name">
                  <label for="name " class="text">Tên :</label><br />
                  <input
                        type="text"
                        name=""
                        value=""
                        id="name"
                        formControlName="name"
                  />
            </div>
            <p class="text">The name is how it appears on your site.</p>
            <div class="input-slug">
                  <label for="slug " class="text">Đường dẫn :</label><br />
                  <input
                        type="text"
                        name=""
                        value=""
                        id="slug"
                        formControlName="slug"
                  />
            </div>
            <p class="text">
                  “slug” là đường dẫn thân thiện của tên. Nó thường chỉ bao gồm
                  kí tự viết thường, số và dấu gạch ngang, không dùng tiếng
                  Việt.
            </p>
            <label for="slug " class="text">Chuyên mục cha :</label><br />
            <select formControlName="category_id" formControlName="parent_id">
                  <option selected="selected" value="">Chuyên mục</option>
                  <option [value]="item.id" *ngFor="let item of categorySort">
                        {{ item.name }}
                  </option>
            </select>
            <p class="text">
                  Chuyên mục khác với thẻ, bạn có thể sử dụng nhiều cấp chuyên
                  mục. Ví dụ: Trong chuyên mục nhạc, bạn có chuyên mục con là
                  nhạc Pop, nhạc Jazz. Việc này hoàn toàn là tùy theo ý bạn.
            </p>
            <div class="">
                  <button class="btn-create" (click)="submitCreate()">
                        <span>Tạo chuyên mục</span>
                  </button>
            </div>
      </form>
      <div class="manage-container">
            <div class="filter-bottom">
                  <div class="container-action">
                        <div class="action">
                              <select [(ngModel)]="selectedAction">
                                    <option value="1">Hành động</option>
                                    <option value="2">Xóa</option>
                                    <option value="3">Xuất bản</option>
                                    <option value="4">Thu hồi</option>
                              </select>
                              <button
                                    class="btn-action btn-filter"
                                    (click)="actionFn(selectedAction)"
                                    [disabled]="selectedAction === '1'"
                              >
                                    <span>Áp dụng</span>
                              </button>
                        </div>
                  </div>

                  <form [formGroup]="formFilter" class="search">
                        <input
                              type="text"
                              formControlName="name"
                              placeholder="Tên chuyên mục"
                        />
                        <button class="btn-create" (click)="getCategories()">
                              <span>Tìm</span>
                        </button>
                  </form>
            </div>
            <table>
                  <tr>
                        <th class="select-all item-stt">
                              <input
                                    type="checkbox"
                                    name=""
                                    id=""
                                    #checkAll
                                    (change)="checkAllFn($event)"
                              />
                        </th>
                        <th>
                              <div class="header-name">
                                    <span>Tên chuyên mục</span>
                                    <fa-icon [icon]="faSort"></fa-icon>
                              </div>
                        </th>
                        <th>
                              <div class="header-cate">
                                    <span>Đường dẫn</span>
                                    <fa-icon [icon]="faSort"></fa-icon>
                              </div>
                        </th>
                        <th>
                              <div class="header-view select-all">
                                    <span>Thời gian</span>
                              </div>
                        </th>
                  </tr>
                  <ng-container *ngFor="let item of categories; let i = index">
                        <ng-container *ngIf="!item.edit; else editQuick">
                              <tr
                                    class=""
                                    [ngClass]="{ selected: item.opened }"
                              >
                                    <td class="item-stt item-stt">
                                          <div class="">
                                                <input
                                                      type="checkbox"
                                                      name=""
                                                      id=""
                                                      [(ngModel)]="
                                                            item.selected
                                                      "
                                                      (ngModelChange)="
                                                            changeSelected()
                                                      "
                                                />
                                          </div>
                                    </td>
                                    <td class="item-name">
                                          <div class="title-status">
                                                <p>{{ item?.name }}</p>
                                                <div
                                                      class="pending"
                                                      *ngIf="item.status === 0"
                                                >
                                                      Bản nháp
                                                </div>
                                          </div>

                                          <div class="">
                                                <small
                                                      class="update-item"
                                                      (click)="open(item)"
                                                      >Chỉnh sửa</small
                                                >
                                                <small
                                                      class="delete-item"
                                                      (click)="deleteCate(item)"
                                                      >Xóa</small
                                                >
                                                <small>Xem</small>
                                          </div>
                                    </td>
                                    <td class="item-cate">
                                          <span>{{ item?.slug }}</span>
                                    </td>

                                    <td class="item-date-published">
                                          <b>
                                                {{
                                                      item.status === 1
                                                            ? "Đã xuất bản"
                                                            : "Lần sửa gần nhất"
                                                }} </b
                                          ><br />

                                          <span>{{ item | datePipe }}</span>
                                    </td>
                              </tr>
                        </ng-container>
                  </ng-container>
            </table>
            <mat-paginator
                  #paginator
                  class="demo-paginator"
                  aria-label="Select page"
                  [length]="length"
                  [pageSize]="pageSize"
                  [pageIndex]="pageIndex"
                  (page)="handlePageEvent($event)"
            >
            </mat-paginator>
      </div>
</div>
<ng-template #editQuick>
      <tr>
            <td colspan="7" class="edit-quick">
                  <form [formGroup]="formEdit">
                        <h4>SỬA NHANH</h4>
                        <div class="container-edit">
                              <div class="title-slug">
                                    <div class="edit-title">
                                          <label for="title">Tiêu đề</label>
                                          <input
                                                type="text"
                                                id="title"
                                                value=""
                                                formControlName="name"
                                          />
                                    </div>
                                    <div class="edit-slug">
                                          <label for="slug">Đường dẫn</label>
                                          <input
                                                type="text"
                                                id="slug"
                                                name=""
                                                value=""
                                                formControlName="slug"
                                          />
                                    </div>
                              </div>
                              <div class="category-status">
                                    <div
                                          class="edit-title"
                                          *ngIf="
                                                selectedItem?.parent_id !== null
                                          "
                                    >
                                          <label for="">Chuyên mục cha</label>
                                          <select formControlName="category_id">
                                                <option
                                                      [value]="item.id"
                                                      *ngFor="
                                                            let item of categories
                                                      "
                                                >
                                                      {{ item.name }}
                                                </option>
                                          </select>
                                    </div>
                                    <div class="edit-slug">
                                          <label for="">Trạng thái</label>

                                          <select
                                                name=""
                                                id=""
                                                formControlName="status"
                                          >
                                                <option
                                                      selected="selected"
                                                      value=""
                                                >
                                                      Chuyên mục
                                                </option>
                                                <option
                                                      [value]="item.status"
                                                      *ngFor="
                                                            let item of statusOptions
                                                      "
                                                >
                                                      {{ item.name }}
                                                </option>
                                          </select>
                                    </div>
                              </div>
                        </div>
                        <button
                              mat-raised-button
                              color="primary"
                              class="btn-update"
                        >
                              Cập nhật
                        </button>
                        <button mat-raised-button (click)="close()">Hủy</button>
                  </form>
            </td>
      </tr>
</ng-template>
