<div class="content-create-article">
      <div class="crop">
            <image-cropper> </image-cropper>
      </div>
      <small>*Vui lòng điền các trường thông tin sau để tạo bài viết</small>
      <hr />
      <mat-stepper linear #stepper orientation="vertical">
            <mat-step [stepControl]="stepperTitle">
                  <ng-template matStepLabel>Điền tiêu đề bài viết</ng-template>
                  <form [formGroup]="stepperTitle">
                        <div class="formInput">
                              <h3>Tiêu đề của bài viết :</h3>
                              <div class="fieldText">
                                    <mat-form-field
                                          appearance="fill"
                                          class="input"
                                    >
                                          <mat-label>Tiêu đề</mat-label>
                                          <textarea
                                                matInput
                                                placeholder="Tiêu đề"
                                                formControlName="title"
                                                required
                                          ></textarea>
                                    </mat-form-field>
                              </div>
                              <button mat-button matStepperNext>Next</button>
                        </div>
                  </form>
            </mat-step>
            <mat-step [stepControl]="stepperSapo">
                  <ng-template matStepLabel>Điền mô tả bài viết</ng-template>
                  <form [formGroup]="stepperSapo">
                        <div class="formInput">
                              <h3>Mô tả bài viết :</h3>
                              <div class="fieldText">
                                    <mat-form-field
                                          appearance="fill"
                                          class="input"
                                    >
                                          <mat-label>Mô tả</mat-label>
                                          <textarea
                                                matInput
                                                placeholder="Sapo"
                                                formControlName="sapo"
                                                required
                                          ></textarea>
                                    </mat-form-field>
                                    <div class="">
                                          <button mat-button matStepperPrevious>
                                                Back
                                          </button>
                                          <button mat-button matStepperNext>
                                                Next
                                          </button>
                                    </div>
                              </div>
                        </div>
                  </form>
            </mat-step>
            <mat-step [stepControl]="stepperSlug">
                  <ng-template matStepLabel
                        >Điền đường dẫn bài viết</ng-template
                  >
                  <form [formGroup]="stepperSlug">
                        <div class="formInput">
                              <div class="fieldText">
                                    <h3>Đường dẫn bài viết :</h3>
                                    <mat-form-field
                                          appearance="fill"
                                          class="input"
                                    >
                                          <mat-label>Đường dẫn</mat-label>
                                          <textarea
                                                matInput
                                                placeholder="ví dụ : zing-news"
                                                formControlName="slug"
                                                required
                                          ></textarea>
                                    </mat-form-field>
                                    <div class="">
                                          <button mat-button matStepperPrevious>
                                                Back
                                          </button>
                                          <button mat-button matStepperNext>
                                                Next
                                          </button>
                                    </div>
                              </div>
                        </div>
                  </form>
            </mat-step>
            <mat-step [stepControl]="stepperCategoryId">
                  <ng-template matStepLabel>Chọn danh mục bài viết</ng-template>
                  <form [formGroup]="stepperCategoryId">
                        <div class="formInput">
                              <h3>Danh mục của bài viết :</h3>

                              <mat-form-field class="example-full-width input">
                                    <mat-label>Tên danh mục</mat-label>
                                    <mat-select
                                          (selectionChange)="
                                                onChangeCate($event)
                                          "
                                          formControlName="categoryId"
                                    >
                                          <mat-option
                                                [value]="item.id"
                                                *ngFor="
                                                      let item of optionCategories
                                                "
                                          >
                                                {{ item.name }}
                                          </mat-option>
                                    </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="">
                              <button mat-button matStepperPrevious>
                                    Back
                              </button>
                              <button mat-button matStepperNext>Next</button>
                        </div>
                  </form>
            </mat-step>
            <mat-step [stepControl]="stepperAvatar">
                  <form [formGroup]="stepperAvatar">
                        <ng-template matStepLabel
                              >Tải ảnh đại diện cho bài viết</ng-template
                        >
                        <h3>Ảnh đại diện bài viết :</h3>
                        <button
                              type="button"
                              mat-fab
                              extended
                              color="primary"
                              class="btnUpload"
                              (click)="uploadAvatar()"
                        >
                              <fa-icon [icon]="faUpload" class="icon"></fa-icon>
                              UPLOAD ẢNH
                        </button>
                        <input
                              type="file"
                              name=""
                              id=""
                              hidden
                              #uploadFile
                              (change)="onChangeFile($event)"
                        />
                        <div class="">
                              <img
                                    [src]="
                                          !this.stepperAvatar.value.avatar
                                                ? 'https://nic.gov.vn/wp-content/plugins/elementor/assets/images/placeholder.png'
                                                : this.stepperAvatar.value
                                                        .avatar
                                    "
                                    alt=""
                                    class="imgPreview"
                              />
                        </div>
                        <div class="">
                              <button mat-button matStepperPrevious>
                                    Back
                              </button>
                              <button mat-button matStepperNext>Next</button>
                        </div>
                  </form>
            </mat-step>
            <mat-step [stepControl]="stepperContent">
                  <ng-template matStepLabel>Nội dung bài viết</ng-template>
                  <form
                        action=""
                        [formGroup]="stepperContent"
                        (ngSubmit)="onClick()"
                  >
                        <h3>Nội dung bài viết :</h3>
                        <div class="header-editor">
                              <button
                                    type="submit"
                                    mat-raised-button
                                    color="primary"
                              >
                                    XUẤT BẢN
                              </button>
                        </div>
                        <editor
                              class="editor"
                              plugins=" fullscreen table emoticons link example lists code"
                              menubar="file edit insert view format table tools help "
                              [init]="tinyMCEInit"
                              formControlName="content"
                              toolbar="myCustomToolbarButton mycustombutton cancel bold italic underline code  | fontfamily fontsizeinput  | styles forecolor backcolor | alignleft aligncenter alignright alignjustify | numlist bullist |indent outdent rtl ltr | fullscreen table link "
                        >
                        </editor>
                  </form>
            </mat-step>
      </mat-stepper>
</div>
