@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

button {
      height: 35px;
      width: 200px;
}

.content-create-article {
      padding: 30px;
}

.formInput {
      gap: 30px;
      // margin-bottom: 20px;

      .input {
            margin-top: 10px;
            height: 20px;
            margin-bottom: 90px;
            width: 400px;
            display: block;
      }

      .btnUpload {
            font-size: 5px;
      }


}

img {
      margin-top: 10px;
      width: 200px;
      height: 200px;
      object-fit: cover;
}
