<div class="content-create-article">
      <div class="crop">
            <image-cropper> </image-cropper>
      </div>
      <small>*Vui lòng điền các trường thông tin sau để tạo bài viết</small>
      <hr />
      <h3>Thông tin bài viết :</h3>
      <form
            class="card"
            [formGroup]="formDetail"
            (submit)="
                  data
                        ? submitFormUpdate(data.id, data.slug_crc)
                        : submitFormCreate()
            "
      >
            <button mat-raised-button color="primary" type="submit">
                  {{ data ? "Cập nhật" : "Tạo bài viết" }}
            </button>
            <div class="content">
                  <div class="image" (click)="openDialogSetAvatar()">
                        <div class="imgPreview" *ngIf="!imgPreview; else image">
                              <fa-icon
                                    [icon]="faArrowUpFromBracket"
                                    class="icon-upload"
                              ></fa-icon>
                              <p>Click here to upload image</p>
                        </div>
                  </div>
                  <div class="infor">
                        <div class="title">
                              <mat-form-field appearance="fill" class="input">
                                    <mat-label>Tiêu đề</mat-label>
                                    <input
                                          matInput
                                          placeholder="Tiêu đề"
                                          formControlName="title"
                                          required
                                    />
                              </mat-form-field>
                        </div>
                        <div class="cate">
                              <mat-form-field class="example-full-width input">
                                    <mat-label>Tên danh mục</mat-label>
                                    <mat-select
                                          (selectionChange)="
                                                onChangeCate($event)
                                          "
                                          formControlName="categoryId"
                                    >
                                          <mat-option
                                                [value]="item.id"
                                                *ngFor="
                                                      let item of optionCategories
                                                "
                                          >
                                                {{ item.name }}
                                          </mat-option>
                                    </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="sapo">
                              <mat-form-field
                                    appearance="fill"
                                    class="sapo-input"
                              >
                                    <mat-label>Mô tả</mat-label>
                                    <input
                                          matInput
                                          placeholder="Sapo"
                                          formControlName="sapo"
                                          required
                                    />
                              </mat-form-field>
                        </div>
                        <div class="slug">
                              <mat-form-field appearance="fill" class="input">
                                    <mat-label>Đường dẫn</mat-label>
                                    <input
                                          matInput
                                          placeholder="duong-dan"
                                          formControlName="slug"
                                          required
                                    />
                              </mat-form-field>
                        </div>
                  </div>
            </div>
      </form>
      <h3>Nội dung :</h3>
      <form action="" [formGroup]="formDetail">
            <editor
                  class="editor"
                  plugins=" fullscreen table emoticons link example lists code media quickbars "
                  menubar="file edit insert view format table tools help "
                  [init]="tinyMCEInit"
                  formControlName="content"
                  toolbar="myCustomToolbarButton mycustombutton bold italic underline | fontfamily fontsizeinput  | forecolor backcolor | alignleft aligncenter alignright alignjustify | numlist bullist |indent outdent rtl ltr | table link | preivew overview "
            >
            </editor>
      </form>
</div>
<ng-template #image>
      <img [src]="imgPreview" alt="" class="imgPreview" />
</ng-template>
<ngx-loading [show]="true" *ngIf="loading"></ngx-loading>
