<ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
>
      <div ngxSlickItem class="item-slide" *ngFor="let item of books">
            <div class="card" (click)="click()">
                  <div class="image">
                        <img
                              [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    item.new_article.avatar +
                                    '&height=200&width=300'
                              "
                              alt=""
                              (error)="handleImageError($event)"
                        />
                  </div>
                  <div class="card-infor">
                        <b>{{ item.new_article.title }}</b>
                  </div>
            </div>
      </div>
</ngx-slick-carousel>
