<div class="category-section-header">
  <h1>{{ CategoryCurrent?.name.toUpperCase() }}</h1>
  <div class="sub-categories-section">
    <p
      class="sub-category title"
      *ngFor="let item of CategoryCurrent?.new_categories"
      [routerLink]="['/', 'danh-muc', item.slug, item.slug_crc]"
    >
      {{ item.name }}
    </p>
  </div>
</div>

<div
  class="hot-articles-category-parent"
  *ngIf="!isCateChid; else hotArticlesChild"
>
  <div class="hot-articles-category-left">
    <div class="hot-articles-category-left-item">
      <img [src]="hotArticles[0]?.new_article.avatar" alt="" />
      <p class="title">{{ hotArticles[0]?.new_article.title }}</p>
      <p class="sapo">
        {{ hotArticles[0]?.new_article.sapo }}
      </p>
    </div>
  </div>
  <div class="hot-articles-category-right">
    <ng-container *ngFor="let item of hotArticles; index as idx">
      <div
        class="hot-articles-category-right-item"
        *ngIf="idx >= 1 && idx <= 4"
      >
        <p class="title">{{ item.new_article.title }}</p>
        <img [src]="item.new_article.avatar" alt="" />
      </div>
    </ng-container>
  </div>
</div>

<div class="hot-articels" *ngIf="!isCateChid">
  <header class="header">
    <span class="name-header">Nổi bật</span>
  </header>
  <div class="articels">
    <ng-container *ngFor="let item of hotArticles; index as idx">
      <div class="hot-articel" *ngIf="idx >= 5 && idx <= 9">
        <img [src]="item.new_article.avatar" alt="" />
        <p class="title">
          {{ item.new_article.title }}
        </p>
      </div>
    </ng-container>
  </div>
</div>
<div class="list-box-hot-articels">
  <ng-container *ngFor="let item of hotArticlesSubCate; index as idx">
    <div class="box-hot-articels-sub-cate">
      <header class="header">
        <span class="name-header">{{ item.name }}</span>
      </header>
      <div class="articel-sub-cate-first">
        <img
          [src]="item?.new_articles_hot_categories[0]?.new_article.avatar"
          alt=""
        />
        <p class="title">
          {{ item?.new_articles_hot_categories[0]?.new_article.title }}
        </p>
      </div>
      <div class="articel-sub-cate">
        <p class="title">
          {{ item?.new_articles_hot_categories[1]?.new_article.title }}
        </p>
      </div>
      <div class="articel-sub-cate">
        <p class="title">
          {{ item?.new_articles_hot_categories[2]?.new_article.title }}
        </p>
      </div>
    </div>
  </ng-container>
</div>

<div class="center">
  <div class="new-articles-cate">
    <header class="header">
      <span class="name-header">Tin mới</span>
    </header>
    <div class="new-articles-cate-left">
      <ng-container *ngFor="let item of newArticles; last as last">
        <div class="new-article-cate">
          <div class="new-article-cate-img">
            <img [src]="item.new_article.avatar" alt="" />
          </div>
          <div class="new-article-cate-infor">
            <p class="new-article-title">
              {{ item.new_article.title }}
            </p>
            <p class="new-article-sapo">
              {{ item.new_article.sapo }}
            </p>
          </div>
        </div>
        <hr *ngIf="!last" />
      </ng-container>
    </div>
  </div>
  <div class="articles-most-views-layout">
    <div class="articles-most-views">
      <header class="header">
        <span class="name-header">Tin đọc nhiều</span>
      </header>
    </div>
  </div>
</div>

<ng-template #hotArticlesChild>
  <div class="hot-articles-category-child">
    <div class="hot-articles-category-left">
      <div class="hot-articles-category-left-item">
        <img [src]="hotArticles[0]?.new_article.avatar" alt="" />
        <p class="title">{{ hotArticles[0]?.new_article.title }}</p>
      </div>
    </div>
    <div class="hot-articles-category-right">
      <ng-container *ngFor="let item of hotArticles; index as idx">
        <div
          class="hot-articles-category-right-item"
          *ngIf="idx >= 1 && idx <= 2"
        >
          <img [src]="item.new_article.avatar" alt="" />
          <p class="title">{{ item.new_article.title }}</p>
          <p class="sapo">{{ item.new_article.sapo }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
