<h2 mat-dialog-title>
      {{ data.name ? "Xoa danh mục" : "Xóa bài viết" }}
</h2>
<div mat-dialog-content>
      Bạn sẽ xóa {{ data.name ? "danh mục" : "bài viết" }}
      <b>{{ data.title || data.name || "" }}</b>
      <mat-dialog-actions>
            <button mat-button mat-dialog-close>No</button>
            <button
                  mat-button
                  [mat-dialog-close]="true"
                  cdkFocusInitial
                  (click)="deleteCate(data)"
            >
                  Ok
            </button>
      </mat-dialog-actions>
</div>
