<div class="content" #content>
  <div class="header-banner">
    <img
      src="https://znews-photo.zingcdn.me/w1920/Uploaded/sfrsm/2023_06_27/124818021_underseacable.jpg"
      alt=""
      width="863"
      height="486"
    />
  </div>
  <header class="the-article-header">
    <p class="the-article-category">
      <a
        class="parent_cate"
        title="C&ocirc;ng nghệ"
        href="https://lifestyle.zingnews.vn/cong-nghe.html"
        >C&ocirc;ng Nghệ</a
      >&nbsp;<a
        class="parent_cate"
        title="Internet"
        href="https://lifestyle.zingnews.vn/internet.html"
        >Internet</a
      >
    </p>
    <h1 class="the-article-title">
      V&igrave; sao giới tỷ ph&uacute; t&igrave;m đến những trải nghiệm chết
      người
    </h1>
  </header>
  <section class="main">
    <p class="the-article-summary">
      Trải nghiệm mạo hiểm l&agrave;m tăng adrenaline v&agrave; giống như những
      vật phẩm xa xỉ để c&aacute;c tỷ ph&uacute; thể hiện bản th&acirc;n.
    </p>
    <ul class="the-article-meta">
      <li class="the-article-author">
        <a href="https://zingnews.vn/Ho%C3%A0ng-Nam-tim-kiem.html?type=3"
          >Ho&agrave;ng Nam</a
        >
      </li>
      &nbsp;
      <li class="the-article-publish">Thứ tư, 28/6/2023 08:10 (GMT+7)</li>
    </ul>
    <div class="the-article-body">
      <p>
        Chưa đầy một giờ ngo&agrave;i khơi bờ biển Greenland, Jules Mountain bắt
        đầu hoảng sợ. Khi đ&oacute;, doanh nh&acirc;n người Anh đang ho&agrave;n
        th&agrave;nh chặng thứ hai trong h&agrave;nh tr&igrave;nh k&eacute;o
        d&agrave;i 8 ng&agrave;y để trở th&agrave;nh người đầu ti&ecirc;n
        l&aacute;i trực thăng hạng nhẹ Bell 505 qua Đại T&acirc;y Dương.
      </p>
      <p>
        &ldquo;T&ocirc;i đ&atilde; phải vượt qua sương m&ugrave; đ&oacute;ng
        băng ở độ cao hơn 4.000 m, nếu kh&ocirc;ng băng sẽ t&iacute;ch tụ
        tr&ecirc;n c&aacute;c c&aacute;nh quạt. Nhiệt độ -14 độ C khiến
        t&ocirc;i phải thở hổn hển, v&agrave; sau đ&oacute; t&ocirc;i nhận ra
        nhi&ecirc;n liệu chỉ c&ograve;n đủ d&ugrave;ng trong 30 ph&uacute;t",
        Mountain kể lại h&agrave;nh tr&igrave;nh đi trực thăng gần 6.500 km từ
        Montreal đến Guernsey.
      </p>
      <p>
        Doanh nh&acirc;n n&agrave;y cho biết đ&atilde; chấp nhận thử
        th&aacute;ch khi biết chiếc trực thăng chỉ c&oacute; thể bay hơn 560 km
        hay 3 giờ đồng hồ với mỗi lần tiếp nhi&ecirc;n liệu, v&agrave; phải dừng
        tiếp nhi&ecirc;n liệu ở những v&ugrave;ng đất hoang băng gi&aacute; ở
        Bắc Canada, Greenland v&agrave; Iceland.
      </p>
      <h3>C&agrave;ng nguy hiểm, c&agrave;ng hấp dẫn</h3>
      <p>
        &ldquo;T&ocirc;i từng muốn leo n&uacute;i ở Bắc Cực, nhưng h&agrave;nh
        tr&igrave;nh đ&oacute; qu&aacute; dễ d&agrave;ng, kh&ocirc;ng đủ nguy
        hiểm, đội giải cứu c&oacute; thể đến bất cứ l&uacute;c n&agrave;o. Với
        thử th&aacute;ch bay qua Đại T&acirc;y Dương, hỏng động cơ đồng nghĩa
        với c&aacute;i chết. V&agrave; đ&oacute; l&agrave; khi adrenaline ập đến
        v&agrave; t&ocirc;i cảm thấy tr&agrave;n đầy sức sống&rdquo;, Mountain
        giải th&iacute;ch l&yacute; do thực hiện h&agrave;nh tr&igrave;nh nguy
        hiểm.<span class="z-desc"
          >Nhiều tỷ ph&uacute; sẵn s&agrave;ng trả gi&aacute; cao cho những
          chuyến leo n&uacute;i nguy hiểm tr&ecirc;n Everest. Ảnh:
          Reuters.</span
        >
      </p>
      <div class="z-photoviewer-wrapper z-has-caption" align="center">
        <div class="z-photo-backdrop">&nbsp;</div>
        <table class="picture active" align="center">
          <tbody>
            <tr>
              <td class="pic">
                <img
                  class="unveil"
                  title="tỷ ph&uacute; ảnh 1"
                  src="https://znews-photo.zingcdn.me/w1920/Uploaded/sfrsm/2023_06_27/01cd5b26_ca81_4395_92f9_3acfc3e3.jpg"
                  alt="ty phu anh 1"
                  width="794"
                  height="529"
                  data-title="tỷ ph&uacute; ảnh 1"
                />
              </td>
            </tr>
            <tr>
              <td class="pCaption caption">
                <p>
                  Nhiều tỷ ph&uacute; sẵn s&agrave;ng trả gi&aacute; cao cho
                  những chuyến leo n&uacute;i nguy hiểm tr&ecirc;n Everest.
                  Ảnh:&nbsp;<em>Reuters</em>.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Trước đ&oacute;, &ocirc;ng cũng đ&atilde; chinh phục đỉnh Everest
        v&agrave; l&agrave; một trong số những doanh nh&acirc;n ưa th&iacute;ch
        c&aacute;c cuộc phi&ecirc;u lưu mạo hiểm tr&ecirc;n khắp thế giới. 2
        người kh&aacute;c l&agrave; c&aacute;c tỷ ph&uacute; người Anh Hamish
        Harding v&agrave; Shahzada Dawood, h&agrave;nh kh&aacute;ch tr&ecirc;n
        t&agrave;u lặn Titan th&aacute;m hiểm x&aacute;c t&agrave;u Titanic.
      </p>
      <p>
        V&agrave;o ng&agrave;y 22/6, 4 ng&agrave;y sau khi Titan mất
        t&iacute;ch, c&aacute;c nh&oacute;m t&igrave;m kiếm ph&aacute;t hiện
        c&aacute;c mảnh vở của t&agrave;u lặn c&aacute;ch x&aacute;c t&agrave;u
        Titanic khoảng 500 m, c&aacute;ch bờ biển Newfoundland (Canada) khoảng
        600 km. Lực lượng bảo vệ bờ biển Mỹ cho biết tất cả h&agrave;nh
        kh&aacute;ch tr&ecirc;n t&agrave;u lặn đ&atilde; chết sau một vụ sập nổ
        thảm khốc dưới &aacute;p lực nước.
      </p>
      <p>
        Những cuộc du lịch mạo hiểm như vậy l&agrave; thị trường ng&aacute;ch,
        nhưng đang nở rộ. Một số lượng lớn c&aacute;c c&ocirc;ng ty mở ra để
        đ&aacute;p ứng nhu cầu phi&ecirc;u lưu nguy hiểm cho giới si&ecirc;u
        gi&agrave;u. OceanGate bắt đầu b&aacute;n c&aacute;c chuyến đi bằng
        t&agrave;u Titan đến thăm x&aacute;c t&agrave;u Titanic v&agrave;o năm
        2021 với gi&aacute;&nbsp;<abbr class="rate-usd">250.000 USD</abbr
        >&nbsp;một v&eacute;.
      </p>
      <p>
        Giới chuy&ecirc;n gia n&ecirc;u nhiều lo ngại về độ an to&agrave;n của
        t&agrave;u lặn từ năm 201
      </p>
    </div>
  </section>
</div>
