<div style="width: 700px; margin: 0px auto">
      <h1 class="title-detail" style="line-height: 1.4">
            <span style="font-family: 'Noto Serif'"
                  >Đại sứ Nguyễn Quốc Dũng mong Tổng thống Biden sẽ thăm Việt
                  Nam</span
            >
      </h1>
      <p class="description" style="line-height: 1.4">
            <span style="font-family: 'Noto Serif'"
                  >Đại sứ Nguyễn Quốc Dũng n&oacute;i rằng c&aacute;c đời tổng
                  thống Mỹ đều thăm Việt Nam kể từ năm 1995, b&agrave;y tỏ mong
                  muốn &ocirc;ng Biden duy tr&igrave; truyền thống
                  n&agrave;y.</span
            >
      </p>
      <article class="fck_detail">
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >"Tổng b&iacute; thư Nguyễn Ph&uacute; Trọng v&agrave;
                        nhiều l&atilde;nh đạo cấp cao Việt Nam đ&atilde; thăm
                        Mỹ. Tất cả tổng thống Mỹ cũng đều thăm Việt Nam kể từ
                        khi hai nước b&igrave;nh thường h&oacute;a quan hệ năm
                        1995", Đại sứ Việt Nam tại Mỹ Nguyễn Quốc Dũng
                        n&oacute;i trong cuộc phỏng vấn được c&ocirc;ng bố
                        h&ocirc;m nay, một ng&agrave;y trước khi hai nước
                        đ&aacute;nh dấu 10 năm thiết lập quan hệ Đối t&aacute;c
                        To&agrave;n diện.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Đại sứ Nguyễn Quốc Dũng cho rằng c&aacute;c cuộc trao
                        đổi đo&agrave;n, tiếp x&uacute;c cấp cao c&oacute;
                        &yacute; nghĩa quan trọng đối với duy tr&igrave;
                        đ&agrave; v&agrave; tạo th&ecirc;m xung lực cho quan hệ
                        song phương. "T&ocirc;i mong Tổng thống Joe Biden sẽ
                        tiếp tục truyền thống tốt đẹp n&agrave;y", &ocirc;ng
                        n&oacute;i.</span
                  >
            </p>
            <figure class="tplCaption action_thumb_added" data-size="true">
                  <div class="fig-picture">
                        <span style="font-family: 'Noto Serif'"
                              ><picture
                                    ><source
                                          srcset="
                                                https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Py23gatOvZxqM6jlu0wmzg  1x,
                                                https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=334PQl-14esr0VgxKF7jNA 1.5x,
                                                https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=VmDvpuYEv7v5diFkvVgAHw  2x
                                          "
                                          data-srcset="https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Py23gatOvZxqM6jlu0wmzg 1x, https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=334PQl-14esr0VgxKF7jNA 1.5x, https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=VmDvpuYEv7v5diFkvVgAHw 2x" />
                                    <img
                                          class="lazy lazied"
                                          src="https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Py23gatOvZxqM6jlu0wmzg"
                                          alt="Đại sứ Nguyễn Quốc Dũng ch&agrave;o x&atilde; giao Tổng thống Biden hồi th&aacute;ng 6/2022. Ảnh: VGP"
                                          loading="lazy"
                                          data-src="https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-biden-7065-1690205461.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Py23gatOvZxqM6jlu0wmzg"
                                          data-ll-status="loaded" /></picture
                        ></span>
                  </div>
                  <figcaption>
                        <p class="Image">
                              <span style="font-family: 'Noto Serif'"
                                    >Đại sứ Nguyễn Quốc Dũng ch&agrave;o
                                    x&atilde; giao Tổng thống Biden hồi
                                    th&aacute;ng 6/2022. Ảnh:&nbsp;<em
                                          >VGP</em
                                    ></span
                              >
                        </p>
                  </figcaption>
            </figure>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Đề cập những th&agrave;nh tựu sau 10 năm Việt - Mỹ trở
                        th&agrave;nh Đối t&aacute;c To&agrave;n diện, Đại sứ cho
                        rằng quan hệ song phương đ&atilde; ph&aacute;t triển
                        mạnh mẽ trong tất cả lĩnh vực.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Trong ch&iacute;nh trị v&agrave; ngoại giao, sự hiểu
                        biết v&agrave; t&ocirc;n trọng lẫn nhau đ&atilde; cải
                        thiện r&otilde; rệt. Hai b&ecirc;n lu&ocirc;n thể hiện
                        t&ocirc;n trọng độc lập, chủ quyền, to&agrave;n vẹn
                        l&atilde;nh thổ v&agrave; thể chế ch&iacute;nh trị của
                        nhau. Việt Nam v&agrave; Mỹ duy tr&igrave; trao đổi
                        đo&agrave;n, tiếp x&uacute;c cấp cao đều đặn.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Kinh tế - thương mại l&agrave; trụ cột ph&aacute;t
                        triển nhanh, mạnh nhất. Kim ngạch thương mại hai chiều
                        đ&atilde; tăng hơn 5 lần trong 10 năm qua, từ 25 tỷ USD
                        năm 2012 l&ecirc;n gần 139 tỷ USD năm 2022. Việt Nam
                        đ&atilde; vươn l&ecirc;n vị tr&iacute; đối t&aacute;c
                        thương mại lớn thứ 8 của Mỹ tr&ecirc;n to&agrave;n thế
                        giới. Đầu tư của Mỹ v&agrave;o Việt Nam li&ecirc;n tục
                        tăng v&agrave; c&aacute;c doanh nghiệp Việt Nam cũng
                        c&oacute; xu hướng đầu tư v&agrave;o Mỹ.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >H&agrave;ng năm hiện c&oacute; 23.000-25.000 sinh
                        vi&ecirc;n Việt Nam theo học tại Mỹ. Trước đại dịch
                        Covid-19, c&oacute; năm đạt hơn 31.000 sinh vi&ecirc;n.
                        Việt Nam l&agrave; nước đứng đầu Đ&ocirc;ng Nam &Aacute;
                        v&agrave; đứng thứ 5 thế giới về số lượng sinh
                        vi&ecirc;n theo học ở Mỹ.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Kh&aacute;ch du lịch Mỹ duy tr&igrave; ở top 5 về số
                        lượt kh&aacute;ch quốc tế đến Việt Nam, đạt trung
                        b&igrave;nh 800.000 lượt một năm trước đại dịch
                        Covid-19. Việt Nam đang hướng tới mục ti&ecirc;u
                        đ&oacute;n một triệu lượt kh&aacute;ch Mỹ.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Hợp t&aacute;c khắc phục hậu quả chiến tranh tiếp tục
                        l&agrave; ưu ti&ecirc;n cao. Hai b&ecirc;n d&agrave;nh
                        nhiều nguồn lực v&agrave; đẩy mạnh c&aacute;c hoạt động
                        t&igrave;m kiếm, x&aacute;c minh h&agrave;i cốt của bộ
                        đội Việt Nam hy sinh trong chiến tranh, tẩy độc dioxin,
                        r&agrave; ph&aacute; bom m&igrave;n c&ograve;n
                        s&oacute;t lại, hỗ trợ người khuyết tật, những người bị
                        ảnh hưởng chất độc da cam. C&aacute;c cơ quan&nbsp;<a
                              href="https://vnexpress.net/chu-de/viet-nam-450"
                              rel="dofollow"
                              data-itm-source="#vn_source=Detail-TheGioi-4633424&amp;vn_campaign=Box-InternalLink&amp;vn_medium=Link-VietNam&amp;vn_term=Desktop&amp;vn_thumb=0"
                              data-itm-added="1"
                              >Việt Nam</a
                        >&nbsp;đ&atilde; phối hợp c&ugrave;ng ph&iacute;a Mỹ
                        t&igrave;m kiếm, x&aacute;c định v&agrave; trao trả cho
                        Mỹ h&agrave;i cốt của 733 qu&acirc;n nh&acirc;n mất
                        t&iacute;ch.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >"Nh&igrave;n lại những g&igrave; ch&uacute;ng ta
                        đ&atilde; c&ugrave;ng nhau l&agrave;m được, vị thế mới
                        của đất nước cũng như lịch sử ph&aacute;t triển của quan
                        hệ, t&ocirc;i tin tưởng rằng quan hệ Việt - Mỹ sẽ tiếp
                        tục ph&aacute;t triển l&ecirc;n tầm cao mới", Đại sứ
                        Nguyễn Quốc Dũng n&oacute;i.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >&Ocirc;ng n&ecirc;u những ưu ti&ecirc;n Việt Nam cần
                        th&uacute;c đẩy để tiếp tục l&agrave;m s&acirc;u sắc
                        quan hệ với Mỹ như trao đổi nhiều hơn nữa c&aacute;c
                        chuyến thăm cấp cao, ph&aacute;t triển quan hệ kinh tế,
                        thương mại theo hướng ổn định, bền vững. Đại sứ cho rằng
                        hai nước cần tập trung hơn v&agrave;o hợp t&aacute;c
                        trong c&aacute;c lĩnh vực mới nổi, c&ocirc;ng nghệ cao
                        như kinh tế số, kinh tế xanh.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Đại sứ cũng cho rằng cần ch&uacute; trọng th&ecirc;m
                        giao lưu văn h&oacute;a, gi&aacute;o dục v&agrave; đẩy
                        nhanh hợp t&aacute;c khắc phục hậu quả chiến tranh. Hai
                        b&ecirc;n cần tăng cường hợp t&aacute;c hiệu quả tại
                        c&aacute;c diễn đ&agrave;n đa phương cũng như phối hợp
                        giải quyết c&aacute;c vấn đề to&agrave;n cầu.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >"Điều t&ocirc;i ấn tượng v&agrave; vui mừng nhất
                        l&agrave; mức độ quan t&acirc;m, hiểu biết cao về Việt
                        Nam, l&agrave; th&aacute;i độ cởi mở, thẳng thắn
                        v&agrave; sự ủng hộ nhiệt t&igrave;nh quan hệ Mỹ - Việt
                        của hầu hết những người Mỹ t&ocirc;i gặp", Đại sứ Nguyễn
                        Quốc Dũng n&oacute;i. "Dư địa hợp t&aacute;c giữa hai
                        b&ecirc;n c&ograve;n rất lớn".</span
                  >
            </p>
            <figure class="tplCaption action_thumb_added" data-size="true">
                  <div class="fig-picture">
                        <span style="font-family: 'Noto Serif'"
                              ><picture
                                    ><source
                                          srcset="
                                                https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=xiYuegwLu3jTB46vWrjXYg  1x,
                                                https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=XoL4nD4Ym8Gftzy6MQx7uA 1.5x,
                                                https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=XDNRE56Wnx8ctIpW_PMHNg  2x
                                          "
                                          data-srcset="https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=xiYuegwLu3jTB46vWrjXYg 1x, https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=XoL4nD4Ym8Gftzy6MQx7uA 1.5x, https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=XDNRE56Wnx8ctIpW_PMHNg 2x" />
                                    <img
                                          class="lazy lazied"
                                          src="https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=xiYuegwLu3jTB46vWrjXYg"
                                          alt="Đại sứ Việt Nam tại Mỹ Nguyễn Quốc Dũng. Ảnh: Đại sứ qu&aacute;n Việt Nam tại Mỹ"
                                          loading="lazy"
                                          data-src="https://i1-vnexpress.vnecdn.net/2023/07/24/nguyen-quoc-dung-1-6983-1690206487.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=xiYuegwLu3jTB46vWrjXYg"
                                          data-ll-status="loaded" /></picture
                        ></span>
                  </div>
                  <figcaption>
                        <p class="Image">
                              <span style="font-family: 'Noto Serif'"
                                    >Đại sứ Việt Nam tại Mỹ Nguyễn Quốc Dũng.
                                    Ảnh:&nbsp;<em
                                          >Đại sứ qu&aacute;n Việt Nam tại
                                          Mỹ</em
                                    ></span
                              >
                        </p>
                  </figcaption>
            </figure>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Quan hệ Việt -&nbsp;<a
                              href="https://vnexpress.net/chu-de/my-712"
                              rel="dofollow"
                              data-itm-source="#vn_source=Detail-TheGioi-4633424&amp;vn_campaign=Box-InternalLink&amp;vn_medium=Link-My&amp;vn_term=Desktop&amp;vn_thumb=0"
                              data-itm-added="1"
                              >Mỹ</a
                        >&nbsp;được b&igrave;nh thường h&oacute;a từ năm 1995
                        v&agrave; n&acirc;ng cấp l&ecirc;n Đối t&aacute;c
                        to&agrave;n diện ng&agrave;y 25/7/2013.</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Hồi th&aacute;ng 3, Tổng b&iacute; thư Nguyễn
                        Ph&uacute; Trọng đ&atilde;&nbsp;<a
                              href="https://vnexpress.net/tong-bi-thu-nguyen-phu-trong-dien-dam-voi-tong-thong-my-biden-4586954.html"
                              rel="dofollow"
                              data-itm-source="#vn_source=Detail-TheGioi-4633424&amp;vn_campaign=Box-InternalLink&amp;vn_medium=Link-DienDam&amp;vn_term=Desktop&amp;vn_thumb=0"
                              data-itm-added="1"
                              >điện đ&agrave;m</a
                        >&nbsp;với Tổng thống Mỹ Joe Biden. Tổng b&iacute; thư
                        đề nghị hai nước đưa hợp t&aacute;c kinh tế, khoa học,
                        c&ocirc;ng nghệ l&agrave; trọng t&acirc;m v&agrave; động
                        lực cho quan hệ. &Ocirc;ng Biden khẳng định Việt Nam
                        l&agrave; đối t&aacute;c quan trọng của Mỹ, ủng hộ một
                        Việt Nam "độc lập, tự cường v&agrave; thịnh
                        vượng".</span
                  >
            </p>
            <p class="Normal" style="line-height: 1.4">
                  <span style="font-family: 'Noto Serif'"
                        >Tổng b&iacute; thư Nguyễn Ph&uacute; Trọng v&agrave;
                        Tổng thống Joe Biden nhắc lại lời mời thăm cấp cao lẫn
                        nhau. Hai l&atilde;nh đạo nhận lời v&agrave; giao
                        c&aacute;c cơ quan li&ecirc;n quan thu xếp v&agrave;o
                        thời gian ph&ugrave; hợp.</span
                  >
            </p>
      </article>
</div>
