<form [formGroup]="formGroup" (submit)="submitForm($event)">
      <div class="formInput">
            <div class="fieldText">
                  <mat-form-field appearance="fill" class="input">
                        <mat-label>Tên danh mục</mat-label>
                        <input
                              matInput
                              placeholder="Tiêu đề"
                              formControlName="name"
                        />
                  </mat-form-field>
            </div>
      </div>
      <div class="formInput">
            <div class="fieldText">
                  <mat-form-field appearance="fill" class="input">
                        <mat-label>Đường dẫn</mat-label>
                        <input
                              matInput
                              placeholder="duong-dan"
                              formControlName="slug"
                        />
                  </mat-form-field>
            </div>
      </div>
      <button mat-raised-button color="primary" type="submit">Tạo</button>
</form>
