<div class="content">
      <h3>Tạo danh mục bài viết</h3>
      <hr />
      <form [formGroup]="formGroup" (submit)="submitForm($event)">
            <div class="cate">
                  <mat-form-field class="example-full-width input">
                        <mat-label>Danh mục cha ( nếu có ) :</mat-label>
                        <mat-select
                              (selectionChange)="onChangeCate($event)"
                              formControlName="categoryId"
                        >
                              <mat-option>Không</mat-option>
                              <mat-option
                                    [value]="item.id"
                                    *ngFor="let item of optionCategories"
                              >
                                    {{ item.name }}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div class="formInput">
                  <div class="fieldText">
                        <mat-form-field appearance="fill" class="input">
                              <mat-label>Tên danh mục</mat-label>
                              <input
                                    matInput
                                    placeholder="Tiêu đề"
                                    formControlName="name"
                              />
                        </mat-form-field>
                  </div>
            </div>
            <div class="formInput">
                  <div class="fieldText">
                        <mat-form-field appearance="fill" class="input">
                              <mat-label>Đường dẫn</mat-label>
                              <input
                                    matInput
                                    placeholder="duong-dan"
                                    formControlName="slug"
                              />
                        </mat-form-field>
                  </div>
            </div>
            <button mat-raised-button color="primary" type="submit">
                  Tạo danh mục
            </button>
      </form>
</div>
