.hot-artcles {
  display: flex;
  gap: 20px;
  height: 500px;

  .hot-artcles-left {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    .artcle-left-item {
      flex:1;
      display: flex;
      gap: 10px;
      .image-empty-left {
        border-radius: 5px;
        height: 100%;
        width: 40%;
        background: #dcdbdb;
      }
      .infor-empty-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-empty-left {
          border-radius: 5px;
          height: 30px;
          width: 100%;
          background: #dcdbdb;
        }
        .sapo-empty-left {
          border-radius: 5px;
          height: 50px;
          width: 100%;
          background: #dcdbdb;
        }
      }
      img {
        border-radius: 5px;
        height: 80px;
        width: 40%;
        object-fit: cover;
      }
      .artcle-left-item-infor {
        width: 60%;
      }
    }
    .artcle-left-item:hover {
      cursor: pointer;
      b {
        color: #096ffa;
      }
    }
  }
  .hot-artcles-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .artcle-right-item {
      height: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .image-empty-right {
        border-radius: 5px;
        height: 80%;
        width: 100%;
        background: #dcdbdb;
      }
      .infor-empty-right {
        border-radius: 5px;
        height: 20%;
        width: 100%;
        display: flex;
        background: #dcdbdb;
      }
      img {
        border-radius: 5px;
        width: 100%;
        height: 75%;
        object-fit: cover;
      }
    }
  }
  .artcle-right-item:hover {
    cursor: pointer;
    b {
      color: #096ffa;
    }
  }
  .hot-artcles-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .artcle-center-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .image-empty-center {
        border-radius: 5px;
        height: 70%;
        width: 100%;
        background: #dcdbdb;
      }
      .infor-empty-center {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-empty-center {
          border-radius: 5px;
          height: 50px;
          width: 100%;
          background: #dcdbdb;
        }
        .sapo-empty-center {
          border-radius: 5px;
          height: 80px;
          width: 100%;
          background: #dcdbdb;
        }
      }
      b {
        font-family: Arial;
        font-size: 32px;
      }
      p {
        color: rgb(78, 78, 78);
        font-size: 16px;
      }
      img {
        border-radius: 5px;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
    }
    .artcle-center-item:hover {
      cursor: pointer;
      b {
        color: #096ffa;
      }
    }
  }
}
.center-page {
  gap: 20px;
  display: flex;
  .center-page-right {
    width: 30%;
    .artcles-view-most {
      border: 1px solid rgba(161, 161, 161, 0.26);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      box-sizing: border-box;
      padding: 20px;
      h3 {
        margin: 0;
        font-size: 20px;
        padding-left: 20px;
        position: relative;
      }
      .artcles-view-most-item {
        height: 72px;
        display: flex;
        .artcles-view-most-item-infor {
          padding-left: 7px;
          .most-item-infor-cate {
            margin-top: 0;
            font-size: 11px;
            color: gray;
          }
          .most-item-infor-title {
            font-size: 14px;
          }
        }
        img {
          height: 100%;
          width: 72px;
          border-radius: 7px;
          object-fit: cover;
        }
      }
      .artcles-view-most-item:hover {
        cursor: pointer;
        b {
          color: #096ffa;
        }
      }
    }
  }

  .new-artcles {
    padding-top: 12px;
    width: 70%;
    .new-artcle-item {
      display: flex;
      width: 100%;
      gap: 16px;
      height: 172px;
      img {
        height: 100%;
        width: 200px;
        border-radius: 7px;
        object-fit: cover;
      }
      .new-artcle-infor {
        h2 {
          margin: 0;
        }
        p {
          color: gray;
          line-height: 20px;
          font-size: 14px;
        }
      }
    }
    .new-artcle-item:hover {
      cursor: pointer;
      h2 {
        color: #096ffa;
      }
    }
  }
}
.title::before {
  content: "";
  position: absolute;
  width: 5px;
  top: 1px;
  bottom: 3px;
  left: 3px;
  transform: skew(-20deg);
  background-color: #dd3333;
}
.title {
  position: relative;
  padding-left: 20px;
  margin-top: 0;
  cursor: pointer;
  &:hover{
      color: #333333;
  }
}
.hot-new-categories {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 80px;
  border-top: 2px solid #333333;
  padding-top: 20px;
  .hot-new-category {
    width: 22%;

    .category-title {

      position: relative;
      padding-left: 15px;
    }
    .hot-new-category-main {
      img {
        height: 173px;
        width: 100%;
        object-fit: cover;
      }
      b {
        font-family: Arial;
        margin-top: 5px;
      }
      &:hover{
            cursor: pointer;
            b{
                  color: #096ffa;
            }
      }
    }
    .hot-new-category {
      display: flex;
      gap: 5px;
      width: 100%;
      &:hover{
            cursor: pointer;
            b{
                  color: #096ffa;
            }
      }
      img {
        height: 70px;
        width: 40%;
      }
      b {
        font-size: 14px;
      }
    }
  }
}
