.hot-artcles {
  display: flex;
  gap: 20px;
  height: 550px;

  .hot-artcles-left {
    width: 27%;
    height: 100%;
    .container-wrap-item{
      display: flex;
      flex-direction: column;
    }
    .artcle-left-item {
      display: flex;
      gap: 10px;
      flex:1;
      box-sizing: border-box;
      .image-empty-left {
        height: 100%;
        width: 40%;
        background: #dcdbdb;
      }
      .infor-empty-left {
        width: 60%;
        display: flex;
        gap:10px;
        box-sizing: border-box;
        flex-direction: column;
        .title-empty-left {
          height: 100%;
          width: 100%;
          background: #dcdbdb;
        }
        .sapo-empty-left {
          height: 50px;
          width: 100%;
          background: #dcdbdb;
        }
      }
      .image{
            width: 120px;
            height: 90px;
           img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      }

      .artcle-left-item-infor {
            width: calc(100% - 130px);
            b{
                  font-family: 'Merriweather';
                  font-size: 14px;

            }
      }
    }
    .artcle-left-item:hover {
      cursor: pointer;
      b {
        color: #096ffa;
      }
    }
  }
  .hot-artcles-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    .artcle-right-item {
      height: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      b{
            font-family: 'Merriweather';
        }
      .image-empty-right {
        height: 80%;
        width: 100%;
        background: #dcdbdb;
      }
      .infor-empty-right {
        height: 20%;
        width: 100%;
        display: flex;
        background: #dcdbdb;

      }
      img {
        width: 100%;
        height: 75%;
        object-fit: cover;
      }
    }
  }
  .artcle-right-item:hover {
    cursor: pointer;
    b {
      color: #096ffa;
    }
  }
  .hot-artcles-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .artcle-center-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .image-empty-center {
        height: 70%;
        width: 100%;
        background: #dcdbdb;
      }
      .infor-empty-center {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-empty-center {
          height: 50px;
          width: 100%;
          background: #dcdbdb;

        }
        .sapo-empty-center {
          height: 80px;
          width: 100%;
          background: #dcdbdb;
        }
      }
      b {
        font-size: 22px;
        font-family: 'Merriweather';
      }
      p {
        color: rgb(78, 78, 78);
        font-size: 16px;
        line-height: 23px;
        height: 30px;
        overflow: hidden;
        margin-bottom: 0;
        flex: auto;
      }
      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
    }
    .artcle-center-item:hover {
      cursor: pointer;
      b {
        color: #096ffa;
      }
    }
  }
}
.center-page {
  gap: 20px;
  display: flex;
  .center-page-right {
    width: 30%;
    .artcles-view-most {
      border: 1px solid rgba(161, 161, 161, 0.26);
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      box-sizing: border-box;
      padding: 20px;
      h3 {
        margin: 0;
        font-size: 20px;
        padding-left: 20px;
        position: relative;
      }
      .artcles-view-most-item {
        height: 70px;
        display: flex;
        .artcles-view-most-item-infor {
          padding-left: 7px;
          .most-item-infor-cate {
            margin-top: 0;
            font-size: 11px;
            color: gray;
            margin-bottom: 5px;
          }
          .most-item-infor-title {
            font-size: 11px;
            font-family: 'Merriweather';
          }
        }
        img {
          height: 100%;
          width: 100px;
          object-fit: cover;
        }
      }
      .artcles-view-most-item:hover {
        cursor: pointer;
        b {
          color: #096ffa;
        }
      }
    }
  }

  .new-artcles {
    width: 70%;
    padding-right: 10px;
    border-right: 1px solid #bebebea3;
    border-top: 1px solid #bebebea3;
    .new-artcle-item {
      display: flex;
      width: 100%;
      gap: 16px;
      height: 140px;
      margin: 20px 0;
      img {
        height: 100%;
        width: 220px;
        object-fit: cover;
      }
      .new-artcle-infor {
            width: calc(100% - 220px);
        h2 {
          margin: 0;
          font-size: 16px;
          font-family: 'Merriweather';
        }
        p {
          color: rgba(39, 39, 39, 0.822);
          line-height: 20px;
          font-size: 14px;
          margin: 11px 0;
        }
      }
    }
    .new-artcle-item:hover {
      cursor: pointer;
      h2 {
        color: #096ffa;
      }
    }
  }
}
.title::before {
  content: "";
  position: absolute;
  width: 5px;
  top: 1px;
  bottom: 3px;
  left: 3px;
  transform: skew(-20deg);
  background-color: #dd3333;
}
.title {
      font-family: 'Merriweather';
  position: relative;
  padding-left: 20px;
  margin-top: 0;
  cursor: pointer;
  &:hover{
      color: #333333;
  }
}
.hot-new-categories {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
  border-top: 1px solid #bebebea3;
  padding-top: 20px;
  .hot-new-category {
    width: 22%;
    .category-title {
      position: relative;
      padding-left: 15px;
    }
    .hot-new-category-main {
      img {
        height: 173px;
        width: 100%;
        object-fit: cover;
      }
      b {
        margin-top: 5px;
        font-family: 'Merriweather';
      }
      &:hover{
            cursor: pointer;
            b{
                  color: #096ffa;
            }
      }
    }
    .hot-new-category {
      display: flex;
      gap: 10px;
      width: 100%;
      &:hover{
            cursor: pointer;
            b{
                  color: #096ffa;
            }
      }
      img {
      height: 70px;
      width: 70px;
        object-fit: cover;
      }
      b {
        font-size: 14px;
        font-family: Arial;
        width: calc(100% - 70px);
      }
    }
  }
}
