label{
      width: 160px;
      display: inline-block;
      margin-bottom: 10px;
}
input {
      width: 400px;
      padding: 14px;
}
.light{
      color: #838383;
      font-size: 14px;
}

.container {
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      width: fit-content;
      .edit-field{
            margin-bottom: 20px;
      }
      .avatar{
            height: 100px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            img{
                  border-radius: 100%;
            }
      }
}
select{
      border-radius: 4px;
      height: 40px;
      border: 1px solid #e2e2e2;
      font-weight: 300;
      color:#807f7f;
      outline: none;
      width: 400px;

}
.btn-create {
      cursor: pointer;
      background: #48c7fd;
      padding: 10px 15px;
      border-radius: 5px;
      border: 0;
      color: #fff;
      gap: 5px;
      display: flex;
      align-items: center;
}
.btn-reset{
      float: right;
      margin-bottom: 10px;
      cursor: pointer;
      background: rgb(194, 194, 195);
      padding: 5px 15px;
      border-radius: 5px;
      border: 0;
      color: #1d1d1d;
      gap: 5px;
      display: flex;
      align-items: center;
      font-weight: bold;
}
