.header{
      display: flex;
      font-weight: 500;
      padding: 20px 30px;
      border-radius: 10px 10px  0 0;
      border-bottom: 2px solid #000;
      background-color: #1c77f767;
      gap:10px;
      box-sizing: border-box;
      user-select: none;
}
.item{
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #333;
      align-items: center;
      font-size: 14px;
      gap:10px;
      margin: 0 30px;
      .item-stt{
            width: 3%;
            padding-left: 5px;
      };
      .item-name{
            width: 17%;
      };
      .item-cate{
            width: 8%;
      }
      .item-date-published{
            width: 10%;
      }
      .item-date-created{
            width: 10%;
      }
      .item-view{
            width: 7%;
      };
      .item-slug{
            width: 15%;
      };

      .item-status{
            color: white;
            .status{

                  padding: 7px 10px;
                  border-radius: 7px
            }
            .success{
                  background: #1c77f7c3;
                  color: rgb(255, 255, 255);
            }
            .cancel{
                  background: #f70202e6;
                  color: rgb(255, 255, 255);
            }
            .pending{
                  background: #989898e1;
                  color: rgb(255, 255, 255);
            }
      };
      .item-edit{
            width: 10%;
            display: flex;
            justify-content: center;
      }

}
td, th {
      border: 1px solid;
      text-align: center;
      min-width: 40px;
      max-width: 150px;
      padding: 5px 0;
    }
th {
      background: #9a9a9a69;
      font-weight: 600;
      color: rgba(93, 93, 93, 0.759);
      padding: 15px 0;

}
    table {
      width: 100%;
      border-collapse: collapse;
    }

    .selected {
      color: black;
      font-weight: 700;
    }
    .sub-item{
      background: #9a9a9a69;
    }

.pending{
      padding: 5px 10px;
      color: whitesmoke;
      background: #d08122;
      border-radius: 7px;
      font-weight: 600;
}
.success{
      padding: 5px 10px;
      color: whitesmoke;
      background: #29CFA0;
      border-radius: 7px;
      font-weight: 600;
}
.item-stt{
      cursor: pointer;
}
.demo-paginator{
      background: rgb(221, 219, 219);
}
.layout-edit-cateogries{
      padding: 10px;
      border: 1px solid #333;
      .title {
            text-align: center;
            font-size: 25px;
      }
}
.example-container {
      max-width: 100%;
      margin: 0 25px 25px 0;
      display: inline-block;
      vertical-align: top;
    }

    .example-list {
      min-width: 100px;
      min-height: 60px;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }
    .example-list-1 {
      border: solid 1px #ccc;
      min-height: 60px;
      background: white;
      border-radius: 4px;
      overflow: hidden;
      display: block;
    }

    .example-box {
      padding: 20px 10px;
      border-bottom: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
      width: 300px;
      font-weight: bolder;
    }

    .cdk-drag-preview {
      border-radius: 4px;
      width: 150px;
      height: 150px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
      img{
            object-fit: cover;
            height: 100%;
            width: 100%;

      }
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-box:last-child {
      border: none;
    }

    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .hot-artcles {
      display: flex;
      gap: 20px;

      .hot-artcles-left{
        width: 27%;
        .artcle-left-item {
          margin-bottom: 20px;
          height: 100px;
        display: flex;
        gap : 8px;
        img {
          height: 80px;
          width: 40%;
          object-fit: cover;
        }
        .artcle-left-item-infor  {
          width: 60%;
        }
      }
      }
      .hot-artcles-right {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .artcle-right-item{
          img {
            width: 100%;
            height: 183px;
            object-fit: cover;
          }
        }
      }
      .hot-artcles-center {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .artcle-center-item{
          b {
            font-family: Arial;
            font-size: 32px;
          }
          p {
            color: gray;
            font-size: 14px;
          }
        img {
          width: 100%;
          height: 325px;
          object-fit: cover;
        }
      }
      }

    }
.layout{
      display: flex;
      flex-wrap: wrap;
}
