.header{
      display: flex;
      font-weight: 500;
      padding: 0 0 20px 0;
      border-bottom: 2px solid #000;
      gap:10px;
      .header-stt{
            width: 3%;
            display: flex;
            gap: 5px
      };
      .header-name{
            width: 17%;
            display: flex;
            gap: 5px
      };
      .header-cate{
            width: 8%;
            display: flex;
            gap: 5px
      }
      .header-avatar{
            width: 10%;
            text-align: center
      };
      .header-date-published{
            width: 10%;
            display: flex;
            gap: 5px
      }
      .header-date-created{
            width: 10%;
            display: flex;
            gap: 5px
      }
      .header-view{
            text-align: center;
            width: 7%;
            display: flex;
            gap: 5px
      };
      .header-slug{
            text-align: center;
            width: 15%;
            display: flex;
            gap: 5px
      };
      .header-status{
            width: 10%;
      };
}
.item{
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #333;
      align-items: center;
      font-size: 14px;
      gap:10px;
      .item-stt{
            width: 3%;
            padding-left: 5px;
      };
      .item-name{
            width: 17%;
      };
      .item-cate{
            width: 8%;
      }
      .item-date-published{
            width: 10%;
      }
      .item-date-created{
            width: 10%;
      }
      .item-view{
            width: 7%;
      };
      .item-slug{
            width: 15%;
      };

      .item-status{
            color: white;
            .status{
                  background: #3f51b5;
                  color: aliceblue !important
            }
      };
      .item-edit{
            width: 10%;
            display: flex;
            justify-content: center;
      }

}
.demo-paginator{
      background: rgb(221, 219, 219);
}
