<table>
      <tr>
            <th>
                  <span>ID</span>
                  <div [ngSwitch]="filterCurr.id">
                        <fa-icon
                              [icon]="faCaretDown"
                              *ngSwitchCase="'1'"
                        ></fa-icon>
                        <fa-icon
                              [icon]="faCaretUp"
                              *ngSwitchCase="'2'"
                        ></fa-icon>
                  </div>
            </th>
            <th>
                  <div class="header-name" (click)="filterFn('title')">
                        <span>Tên bài viết</span>
                        <div [ngSwitch]="filterCurr.title">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-cate" (click)="filterFn('category_id')">
                        <span>Danh mục</span>
                        <div [ngSwitch]="filterCurr.category_id">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-view" (click)="filterFn('views')">
                        <span>Views</span>
                        <div [ngSwitch]="filterCurr.views">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-slug" (click)="filterFn('slug')">
                        <span>Đường dẫn</span>
                        <div [ngSwitch]="filterCurr.slug">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div class="header-slug" (click)="filterFn('slug')">
                        <span>Trạng thái</span>
                        <div [ngSwitch]="filterCurr.slug">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div
                        class="header-date-published"
                        (click)="filterFn('publishAt')"
                  >
                        <span>Ngày tạo</span>
                        <div [ngSwitch]="filterCurr.publishAt">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th>
                  <div
                        class="header-date-published"
                        (click)="filterFn('publishAt')"
                  >
                        <span>Ngày cập nhật</span>
                        <div [ngSwitch]="filterCurr.publishAt">
                              <fa-icon
                                    [icon]="faCaretDown"
                                    *ngSwitchCase="'1'"
                              ></fa-icon>
                              <fa-icon
                                    [icon]="faCaretUp"
                                    *ngSwitchCase="'2'"
                              ></fa-icon>
                        </div>
                  </div>
            </th>
            <th></th>
      </tr>
      <ng-container *ngFor="let item of articles; let i = index">
            <tr class="" [ngClass]="{ selected: item.opened }">
                  <td class="item-stt">
                        <div class="icon">
                              {{ item.id }}
                        </div>
                  </td>
                  <td class="item-name">
                        <span>{{ item?.title }}</span>
                  </td>
                  <td class="item-cate">
                        <span>{{
                              item?.new_articles_categories[0]?.category?.name
                        }}</span>
                  </td>
                  <td class="item-view">
                        <span>{{ item.views }}</span>
                  </td>
                  <td class="item-slug">
                        <span>{{ item.slug }}</span>
                  </td>
                  <td class="item-status">
                        <span class="pending">Đang chờ</span>
                  </td>
                  <td class="item-date-published">
                        <span>{{ item.createdAt | datePipe }}</span>
                  </td>
                  <td class="item-date-created">
                        <span>{{ item.createdAt | datePipe }}</span>
                  </td>
                  <td class="item-edit">
                        <button
                              mat-icon-button
                              [matMenuTriggerFor]="menu"
                              aria-label="Example icon-button with a menu"
                        >
                              <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                    <span>Xóa</span>
                              </button>
                              <button mat-menu-item>
                                    <span>Cập nhật</span>
                              </button>
                              <button mat-menu-item>
                                    <span>Đi tới trang chi tiết</span>
                              </button>
                        </mat-menu>
                  </td>
            </tr>
      </ng-container>
</table>
<mat-paginator
      #paginator
      class="demo-paginator"
      aria-label="Select page"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="handlePageEvent($event)"
>
</mat-paginator>
<div class="layout">
      <h2>Xét bài bài viết nổi bật <small>( Danh mục )</small></h2>
      <hr />
      <div class="layout-content">
            <div class="form">
                  <form
                        [formGroup]="myForm2"
                        (submit)="createHotCateArticles()"
                  >
                        <mat-form-field class="example-full-width input">
                              <mat-label>Tên bài viết</mat-label>
                              <input
                                    type="text"
                                    matInput
                                    formControlName="nameArticle"
                                    [matAutocomplete]="auto"
                                    (focus)="sreach()"
                              />
                              <mat-error
                                    *ngIf="!myForm2.get('nameArticle')?.valid"
                                    >You must enter a value</mat-error
                              >
                              <mat-autocomplete
                                    #auto="matAutocomplete"
                                    [displayWith]="getOptionText"
                              >
                                    <mat-option *ngFor="let item of option2">
                                          {{ item.new_article.title }}
                                    </mat-option>
                              </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                              <mat-label>Tên danh mục</mat-label>
                              <mat-select
                                    (selectionChange)="onChangeCate($event)"
                                    formControlName="nameCategory"
                              >
                                    <mat-option
                                          [value]="item"
                                          *ngFor="let item of optionCategories"
                                    >
                                          {{ item?.name }}
                                    </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                              <mat-label>Tên danh mục con</mat-label>

                              <mat-select formControlName="nameSubCategory">
                                    <mat-option
                                          [value]="item"
                                          *ngFor="
                                                let item of optionSubCategories
                                          "
                                    >
                                          {{ item?.name }}
                                    </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width input">
                              <mat-label
                                    >Vị trí muốn đặt trong bộ cục</mat-label
                              >
                              <input
                                    type="number"
                                    matInput
                                    formControlName="position"
                              />
                              <mat-error *ngIf="!myForm.get('position')?.valid"
                                    >You must enter a value</mat-error
                              >
                        </mat-form-field>
                        <div class="groupBtn" *ngIf="update; else updateBTn">
                              <button
                                    mat-raised-button
                                    color="primary"
                                    type="submit"
                              >
                                    Xác nhận
                              </button>
                        </div>
                  </form>
                  <table>
                        <tr>
                              <th>Vị trí</th>
                              <th>Tên bài viết</th>
                              <th></th>
                        </tr>
                        <tr
                              *ngFor="
                                    let item of listHotArticles.hot_news
                                          ?.hot_main;
                                    index as idx
                              "
                              class="item-hot-articles"
                        >
                              <td>
                                    {{ item.position }}
                              </td>
                              <td>
                                    {{ item?.new_article?.title }}
                              </td>
                              <td>
                                    <button
                                          mat-icon-button
                                          [matMenuTriggerFor]="menu"
                                          aria-label="Example icon-button with a menu"
                                    >
                                          <fa-icon
                                                [icon]="faEllipsisVertical"
                                          ></fa-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                          <button
                                                mat-menu-item
                                                (click)="
                                                      deleteHotMain(
                                                            item.article_id,
                                                            item.position
                                                      )
                                                "
                                          >
                                                <span>Xóa</span>
                                          </button>
                                          <button
                                                mat-menu-item
                                                (click)="updateItem(item)"
                                          >
                                                <span>Cập nhật</span>
                                          </button>
                                    </mat-menu>
                              </td>
                        </tr>
                  </table>
            </div>
            <div class="img-example">
                  <div class="example">
                        <h2>Vị trí bố cục</h2>
                        <br />
                        <small
                              >( Vui lòng chọn 1 số trong layout tin nổi bật sau
                              )</small
                        >
                        <img
                              src="../../../../../../../assets/Screenshot 2023-07-17 002523.png"
                              alt=""
                        />
                  </div>
            </div>
      </div>
</div>
<div class="layout">
      <h2>Xét bài bài viết nổi bật <small>( Trang chủ )</small></h2>
      <hr />
      <div class="layout-content">
            <div class="form">
                  <form
                        action=""
                        [formGroup]="myForm"
                        (submit)="createHotArticle()"
                  >
                        <mat-form-field class="example-full-width input">
                              <mat-label>Tên bài viết</mat-label>
                              <input
                                    type="text"
                                    matInput
                                    formControlName="nameArticle"
                                    [matAutocomplete]="auto"
                              />
                              <mat-error
                                    *ngIf="!myForm.get('nameArticle')?.valid"
                                    >You must enter a value</mat-error
                              >
                              <mat-autocomplete
                                    #auto="matAutocomplete"
                                    [displayWith]="getOptionText"
                              >
                                    <mat-option
                                          *ngFor="let item of option"
                                          [value]="item"
                                    >
                                          {{ item?.title }}
                                    </mat-option>
                              </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="example-full-width input">
                              <mat-label
                                    >Vị trí muốn đặt trong bộ cục</mat-label
                              >
                              <input
                                    type="number"
                                    matInput
                                    formControlName="position"
                              />
                              <mat-error *ngIf="!myForm.get('position')?.valid"
                                    >You must enter a value</mat-error
                              >
                        </mat-form-field>
                        <div class="groupBtn" *ngIf="update; else updateBTn">
                              <button
                                    mat-raised-button
                                    color="primary"
                                    type="submit"
                              >
                                    Xác nhận
                              </button>
                        </div>
                  </form>
                  <table>
                        <tr>
                              <th>Vị trí</th>
                              <th>Tên bài viết</th>
                              <th></th>
                        </tr>
                        <tr
                              *ngFor="
                                    let item of listHotArticles.hot_news
                                          ?.hot_main;
                                    index as idx
                              "
                              class="item-hot-articles"
                        >
                              <td>
                                    {{ item.position }}
                              </td>
                              <td>
                                    {{ item?.new_article?.title }}
                              </td>
                              <td>
                                    <button
                                          mat-icon-button
                                          [matMenuTriggerFor]="menu"
                                          aria-label="Example icon-button with a menu"
                                    >
                                          <fa-icon
                                                [icon]="faEllipsisVertical"
                                          ></fa-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                          <button
                                                mat-menu-item
                                                (click)="
                                                      deleteHotMain(
                                                            item.article_id,
                                                            item.position
                                                      )
                                                "
                                          >
                                                <span>Xóa</span>
                                          </button>
                                          <button
                                                mat-menu-item
                                                (click)="updateItem(item)"
                                          >
                                                <span>Cập nhật</span>
                                          </button>
                                    </mat-menu>
                              </td>
                        </tr>
                  </table>
            </div>
            <div class="img-example">
                  <div class="example">
                        <h2>Vị trí bố cục</h2>
                        <br />
                        <small
                              >( Vui lòng chọn 1 số trong layout tin nổi bật sau
                              )</small
                        >
                        <img
                              src="../../../../../../../assets/Screenshot 2023-07-17 002523.png"
                              alt=""
                        />
                  </div>
            </div>
      </div>
</div>

<ng-template #updateBTn>
      <div class="groupBtn">
            <button mat-raised-button color="primary" (click)="updateHot()">
                  Cập nhật
            </button>
            <button mat-raised-button color="primary" (click)="cancel()">
                  Hủy bỏ
            </button>
      </div>
</ng-template>
