<div class="header">
      <div class="header-stt">
            <span>ID</span>
            <fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-name">
            <span>Tên bài viết</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-cate">
            <span>Danh mục</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-view">
            <span>Lượt đọc</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-slug">
            <span>Đường dẫn</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-date-published">
            <span>Ngày xuất bản</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-date-created">
            <span>Ngày xuất bản</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="header-status">
            <span>Trạng thái</span><fa-icon [icon]="faCaretDown"></fa-icon>
      </div>
</div>

<div class="item" *ngFor="let item of articles">
      <div class="item-stt">
            <span>{{ item.id }}</span>
      </div>
      <div class="item-name">
            <span>{{ item.title }}</span>
      </div>
      <div class="item-cate">
            <span>{{
                  item?.new_articles_categories[0]?.new_category.name
            }}</span>
      </div>
      <div class="item-view">
            <span>{{ item.views }}</span>
      </div>
      <div class="item-slug">
            <span>{{ item.slug }}</span>
      </div>
      <div class="item-date-published">
            <span>{{ item.publishAt | datePipe }}</span>
      </div>
      <div class="item-date-created">
            <span>{{ item.createdAt | datePipe }}</span>
      </div>

      <div class="item-status">
            <mat-chip>
                  {{ item.status === 1 ? "Xuất bản" : "Đang chờ" }}</mat-chip
            >
      </div>
      <div class="item-edit">
            <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
            >
                  <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                        <span>Xuất bản</span>
                  </button>
                  <button mat-menu-item>
                        <span>Xóa</span>
                  </button>
                  <button mat-menu-item>
                        <span>Sửa</span>
                  </button>
            </mat-menu>
      </div>
</div>
<mat-paginator
      #paginator
      class="demo-paginator"
      aria-label="Select page"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="handlePageEvent($event)"
>
</mat-paginator>
