<div class="container" cdkDropListGroup>
    <form class="create">
        <h3>Thêm bài viết vào danh sách</h3>
        <form
            [formGroup]="formSearch"
            class="input-name"
            (submit)="getArticles()"
        >
            <label for="name " class="text">Tìm kiếm bài viết</label><br />
            <input
                type="text"
                name=""
                value=""
                id="name"
                placeholder="Tiêu đề bài viết"
                formControlName="title"
            />
        </form>
        <table
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="listArticles"
            *ngIf="listArticles"
        >
            <tr>
                <th class="item-stt"></th>
                <th>
                    <div class="header-name">
                        <span>Tiêu đề </span>
                    </div>
                </th>
            </tr>

            <tr
                class=""
                cdkDrag
                *ngFor="let item of listArticles; let i = index"
            >
                <div *cdkDragPreview class="preivew">
                    <td class="item-drag">
                        <div class="example-handle" cdkDragHandle>
                            <svg
                                width="24px"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                                ></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                    </td>

                    <td class="item-name">
                        <div class="title-status">
                            <p>
                                {{ item?.new_article?.title }}
                            </p>
                        </div>

                        <div class="">
                            <small class="">Chuyên mục : Xuât bản</small>
                        </div>
                    </td>
                </div>
                <td class="item-drag">
                    <div class="example-handle" cdkDragHandle>
                        <svg
                            width="24px"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                            ></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </td>

                <td class="item-name">
                    <div class="title-status">
                        <p>
                            {{ item?.new_article?.title }}
                        </p>
                    </div>

                    <div class="">
                        <small>Chuyên mục :</small>
                        <small
                            class="item-cate"
                            *ngFor="
                                let cate of item?.new_article
                                    .new_articles_categories
                            "
                            >{{ cate.category.name }}</small
                        >
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div class="manage-container">
        <div class="filter-bottom">
            <div class="container-action">
                <form class="action" [formGroup]="formOption">
                    <select
                        formControlName="categories_id"
                        (change)="getHotNews()"
                    >
                        <option selected="selected" value="1">Trang chủ</option>
                        <option
                            [value]="item.slug_crc"
                            *ngFor="let item of categories"
                        >
                            {{ item.name }}
                        </option>
                    </select>
                </form>
            </div>

            <button class="btn-create" (click)="updatePosition()">
                <span>Lưu thay đổi</span>
            </button>
        </div>
        <!-- <ng-container *ngIf="typeLayout === '1'">
            <div class="layout-hot-main">
                <div class="hot-main-left-container">
                    <div
                        class="left-item"
                        cdkDropList
                        [cdkDropListData]="this.list[number].array"
                        (cdkDropListDropped)="drop2($event, number)"
                        *ngFor="let number of [3, 4, 5, 6, 7]; last as last"
                    >
                        <div
                            class="example-custom-placeholder"
                            *cdkDragPlaceholder
                        ></div>
                        <ng-container
                            *ngFor="let item of this.list[number].array"
                        >
                            <div
                                class="new-artcle-item"
                                *ngIf="item?.new_article"
                            >
                                <button
                                    class="btn-close"
                                    (click)="close(number)"
                                    mat-mini-fab
                                    color="warn"
                                    aria-label="Example icon button with a filter list icon"
                                >
                                    <mat-icon class="close">close</mat-icon>
                                </button>
                                <div class="img-article">
                                    <img
                                        [src]="
                                            'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                            item?.new_article.avatar +
                                            '&height=120&width=80'
                                        "
                                        alt=""
                                        (error)="handleImageError($event)"
                                    />
                                </div>
                                <div class="new-artcle-infor">
                                    <b>
                                        {{ item?.new_article.title }}
                                    </b>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="hot-main-center-container">
                    <div
                        class="center-item"
                        cdkDropList
                        [cdkDropListData]="this.list[0].array"
                        (cdkDropListDropped)="drop2($event, 0)"
                    >
                        <div
                            class="artcle-center-item"
                            *ngIf="this.list[0].array[0]?.new_article"
                        >
                            <button
                                class="btn-close"
                                mat-mini-fab
                                color="warn"
                                (click)="close(0)"
                                aria-label="Example icon button with a filter list icon"
                            >
                                <mat-icon class="close">close</mat-icon>
                            </button>
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    this.list[0].array[0]?.new_article.avatar +
                                    '&height=330&width=500'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                            <b>{{
                                this.list[0].array[0]?.new_article.title
                            }}</b>
                            <p>
                                {{ this.list[0].array[0]?.new_article.sapo }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hot-main-right-container">
                    <div
                        class="right-item"
                        cdkDropList
                        [cdkDropListData]="this.list[number].array"
                        (cdkDropListDropped)="drop2($event, number)"
                        *ngFor="let number of [1, 2]"
                    >
                        <div
                            class="example-custom-placeholder"
                            *cdkDragPlaceholder
                        ></div>
                        <ng-container
                            *ngFor="let item of this.list[number].array"
                        >
                            <div
                                class="artcle-right-item"
                                *ngIf="item?.new_article"
                            >
                                <button
                                    class="btn-close"
                                    mat-mini-fab
                                    color="warn"
                                    (click)="close(number)"
                                    aria-label="Example icon button with a filter list icon"
                                >
                                    <mat-icon class="close">close</mat-icon>
                                </button>
                                <img
                                    [src]="
                                        'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                        item?.new_article?.avatar +
                                        '&height=200&width=300'
                                    "
                                    alt=""
                                    (error)="handleImageError($event)"
                                />
                                <b>{{ item?.new_article.title }}</b>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="layout-hot-parent" *ngIf="typeLayout === '2'">
            <div class="header">
                <div class="hot-parent-left-container">
                    <div
                        class="left-item"
                        cdkDropList
                        [cdkDropListData]="this.list[0].array"
                        (cdkDropListDropped)="drop2($event, 0)"
                    >
                        <ng-container
                            *ngIf="this.list[0]?.array[0]?.new_article"
                        >
                            <div
                                class="example-custom-placeholder"
                                *cdkDragPlaceholder
                            ></div>
                            <button
                                class="btn-close"
                                mat-mini-fab
                                color="warn"
                                (click)="close(0)"
                            >
                                <mat-icon class="close">close</mat-icon>
                            </button>
                            <div class="img-article">
                                <img
                                    [src]="
                                        'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                        this.list[0]?.array[0]?.new_article
                                            .avatar +
                                        '&height=400&width=610'
                                    "
                                    alt=""
                                    (error)="handleImageError($event)"
                                />
                            </div>
                            <p class="title">
                                {{ this.list[0].array[0]?.new_article.title }}
                            </p>
                            <p class="sapo">
                                {{ this.list[0].array[0]?.new_article.sapo }}
                            </p>
                        </ng-container>
                    </div>
                </div>

                <div class="hot-parent-right-container">
                    <div
                        class="right-item"
                        *ngFor="let number of [1, 2, 3, 4]; last as last"
                        cdkDropList
                        [cdkDropListData]="this.list[number].array"
                        (cdkDropListDropped)="drop2($event, number)"
                    >
                        <div
                            class="example-custom-placeholder"
                            *cdkDragPlaceholder
                        ></div>
                        <div
                            class="artcle-right-item"
                            *ngFor="let item of this.list[number]?.array"
                        >
                            <ng-container *ngIf="item?.new_article?.title">
                                <button
                                    (click)="close(number)"
                                    class="btn-close"
                                    mat-mini-fab
                                    color="warn"
                                    aria-label="Example icon button with a filter list icon"
                                >
                                    <mat-icon class="close">close</mat-icon>
                                </button>
                                <div class="title-right">
                                    {{ item?.new_article?.title }}
                                </div>
                                <div class="image-right">
                                    <img
                                        [src]="
                                            'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                            item?.new_article?.avatar +
                                            '&height=200&width=300'
                                        "
                                        alt=""
                                        (error)="handleImageError($event)"
                                    />
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hot-articels">
                <h3>Nổi bật</h3>
                <div class="list-item">
                    <div
                        class="item"
                        *ngFor="let number of [5, 6, 7, 8]; last as last"
                        cdkDropList
                        [cdkDropListData]="this.list[number].array"
                        (cdkDropListDropped)="drop2($event, number)"
                    >
                        <div
                            class="hot-articel"
                            *ngFor="let item of this.list[number]?.array"
                        >
                            <ng-container *ngIf="item?.new_article?.title">
                                <button
                                    (click)="close(number)"
                                    class="btn-close"
                                    mat-mini-fab
                                    color="warn"
                                    aria-label="Example icon button with a filter list icon"
                                >
                                    <mat-icon class="close">close</mat-icon>
                                </button>
                                <div class="image">
                                    <img
                                        (error)="handleImageError($event)"
                                        [src]="
                                            'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                            item?.new_article?.avatar +
                                            '&height=200&width=300'
                                        "
                                        alt=""
                                    />
                                </div>
                                <p class="title">
                                    {{ item?.new_article?.title }}
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div
            class="layout-hot-main"
            cdkDropList
            [cdkDropListData]="this.listArticles"
        >
            <div class="hot-main-left-container">
                <div class="left-item" cdkDrag>
                    <div class="new-artcle-item">
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <div class="img-article">
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    '&height=120&width=80'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                        </div>
                        <div class="new-artcle-infor">
                            <b> </b>
                        </div>
                    </div>
                </div>
                <div class="left-item" cdkDrag>
                    <div class="new-artcle-item">
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <div class="img-article">
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    '&height=120&width=80'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                        </div>
                        <div class="new-artcle-infor">
                            <b> </b>
                        </div>
                    </div>
                </div>
                <div class="left-item" cdkDrag>
                    <div class="new-artcle-item">
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <div class="img-article">
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    '&height=120&width=80'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                        </div>
                        <div class="new-artcle-infor">
                            <b> </b>
                        </div>
                    </div>
                </div>
                <div class="left-item" cdkDrag>
                    <div class="new-artcle-item">
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <div class="img-article">
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    '&height=120&width=80'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                        </div>
                        <div class="new-artcle-infor">
                            <b> </b>
                        </div>
                    </div>
                </div>
                <div class="left-item" cdkDrag>
                    <div class="new-artcle-item">
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <div class="img-article">
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    '&height=120&width=80'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                        </div>
                        <div class="new-artcle-infor">
                            <b> </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hot-main-center-container">
                <div
                    class="center-item"
                    cdkDropList
                    [cdkDropListData]="this.list[0].array"
                    (cdkDropListDropped)="drop2($event, 0)"
                >
                    <div
                        class="artcle-center-item"
                        *ngIf="this.list[0].array[0]?.new_article"
                    >
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            (click)="close(0)"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <img
                            [src]="
                                'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                this.list[0].array[0]?.new_article.avatar +
                                '&height=330&width=500'
                            "
                            alt=""
                            (error)="handleImageError($event)"
                        />
                        <b>{{ this.list[0].array[0]?.new_article.title }}</b>
                        <p>
                            {{ this.list[0].array[0]?.new_article.sapo }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="hot-main-right-container">
                <div
                    class="right-item"
                    cdkDropList
                    [cdkDropListData]="this.list[number].array"
                    (cdkDropListDropped)="drop2($event, number)"
                    *ngFor="let number of [1, 2]"
                >
                    <div
                        class="example-custom-placeholder"
                        *cdkDragPlaceholder
                    ></div>
                    <ng-container *ngFor="let item of this.list[number].array">
                        <div
                            class="artcle-right-item"
                            *ngIf="item?.new_article"
                        >
                            <button
                                class="btn-close"
                                mat-mini-fab
                                color="warn"
                                (click)="close(number)"
                                aria-label="Example icon button with a filter list icon"
                            >
                                <mat-icon class="close">close</mat-icon>
                            </button>
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    item?.new_article?.avatar +
                                    '&height=200&width=300'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                            <b>{{ item?.new_article.title }}</b>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #child>
    <div class="layout-hot-main">
        <div class="hot-main-left-container">
            <div
                class="left-item"
                cdkDropList
                [cdkDropListData]="this.list[number].array"
                (cdkDropListDropped)="drop2($event, number)"
                *ngFor="let number of [3, 4, 5, 6, 7]; last as last"
            >
                <div
                    class="example-custom-placeholder"
                    *cdkDragPlaceholder
                ></div>
                <ng-container *ngFor="let item of this.list[number].array">
                    <div class="new-artcle-item">
                        <button
                            (click)="close(number)"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <div class="img-article">
                            <img
                                [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    item?.avatar +
                                    '&height=120&width=80'
                                "
                                alt=""
                                (error)="handleImageError($event)"
                            />
                        </div>
                        <div class="new-artcle-infor">
                            <b>
                                {{ item.title }}
                            </b>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="hot-main-center-container">
            <div
                class="center-item"
                cdkDropList
                [cdkDropListData]="this.list[0].array"
                (cdkDropListDropped)="drop2($event, 0)"
            >
                <div class="artcle-center-item">
                    <button
                        class="btn-close"
                        mat-mini-fab
                        color="warn"
                        aria-label="Example icon button with a filter list icon"
                    >
                        <mat-icon class="close">close</mat-icon>
                    </button>
                    <img
                        [src]="
                            'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                            this.list[0].array[0]?.avatar +
                            '&height=330&width=500'
                        "
                        alt=""
                        (error)="handleImageError($event)"
                    />
                    <b>{{ this.list[0].array[0]?.title }}</b>
                    <p>
                        {{ this.list[0].array[0]?.sapo }}
                    </p>
                </div>
            </div>
        </div>
        <div class="hot-main-right-container">
            <div
                class="right-item"
                cdkDropList
                [cdkDropListData]="this.list[item].array"
                (cdkDropListDropped)="drop2($event, item)"
                *ngFor="let item of [1, 2]"
            >
                <div
                    class="example-custom-placeholder"
                    *cdkDragPlaceholder
                ></div>
                <ng-container *ngFor="let item of this.list[item].array">
                    <div class="artcle-right-item">
                        <button
                            class="btn-close"
                            mat-mini-fab
                            color="warn"
                            aria-label="Example icon button with a filter list icon"
                        >
                            <mat-icon class="close">close</mat-icon>
                        </button>
                        <img
                            [src]="
                                'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                item?.avatar +
                                '&height=200&width=300'
                            "
                            alt=""
                            (error)="handleImageError($event)"
                        />
                        <b>{{ item.title }}</b>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>
