<div class="cloum1">
      <div class="">
            <b>TRỤ SỞ HÀ NỘI</b>
            <p>
                  Tầng 20, tòa nhà Center Building, Hapulico Complex, số 1
                  Nguyễn Huy Tưởng, p. Thanh Xuân Trung, quận Thanh Xuân, Hà
                  Nội. Điện thoại: 024.39743410, máy lẻ 230.
            </p>
      </div>
      <div class="">
            <b>TRỤ SỞ HỒ CHÍ MINH</b>
            <p>
                  Tầng 6 Tòa nhà 123, 123 Võ Văn Tần, phường 6, quận 3, Tp. HCM
                  Điện thoại: 028.73077979, máy lẻ 216
            </p>
      </div>
</div>
<div class="cloum1">
      <div class="">
            <b>CHỊU TRÁCH NHIỆM QUẢN LÝ NỘI DUNG</b>
            <p>Bà Nguyễn Bích Minh</p>
      </div>
      <div class="">
            <b>HỢP TÁC NỘI DUNG</b>
            <table>
                  <tr>
                        <td>
                              <fa-icon [icon]="faPhone"></fa-icon>
                        </td>
                        <td>024.730.7797 (máy lẻ 62362)</td>
                  </tr>
                  <tr>
                        <td>
                              <fa-icon [icon]="faMailBulk"></fa-icon>
                        </td>
                        <td>marketing@kenh14.vn</td>
                  </tr>
            </table>
      </div>
      <div class="">
            <b>LIÊN HỆ QUẢNG CÁO</b>
            <table>
                  <tr>
                        <td>
                              <fa-icon [icon]="faPhone"></fa-icon>
                        </td>
                        <td>024.730.7797 (máy lẻ 62362)</td>
                  </tr>
                  <tr>
                        <td>
                              <fa-icon [icon]="faMailBulk"></fa-icon>
                        </td>
                        <td>marketing@kenh14.vn</td>
                  </tr>
            </table>
      </div>
</div>
<div class="cloum1">
      <div class="">
            <p>© Copyright 2007 - 2023 <b>CÔNG TY CỔ PHẦN VCCORP</b></p>

            <p>
                  Tầng 17, 19, 20, 21 Tòa nhà Center Building - Hapulico
                  Complex, Số 1 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội.
            </p>
            <p>
                  Giấy phép số 1082/GP-STTTT do Sở Thông tin và Truyền thông Hà
                  Nội cấp ngày 16 tháng 4 năm 2014
            </p>
      </div>
</div>
