.crop{
      display: flex;
      image-cropper {
            width: 50%;
            height: 50vh;
            object-fit: contain;
          }
          img {
            width: 40%;
            object-fit: contain;
          }
}
// image-cropper {
//       height: 50vh;
//     }
