<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="item-slide">
    <div class="card">
      <div class="image">
        <img
          src="https://znews-photo.zingcdn.me/w860/Uploaded/natmts/2023_05_03/Tren_Sao_Hoa.jpg"
          alt=""
        />
      </div>
      <div class="card-infor">
        <b> Di sản truyện ngắn và tiểu thuyết của nhà thơ Thâm Tâm </b>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
