/* You can add global styles to this file, and also import other style files */
  @import "~slick-carousel/slick/slick.css";
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700;1,900&display=swap');

  @font-face {
      font-family: 'Berfilem';
      src: url("./assets/fonts/Berfilem.otf") format("opentype");
    }
  @font-face {
    font-family: 'TikTok';
    src: url("./assets/fonts/TikTokDisplay-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: 'Arial';
    src: url("./assets/fonts/SVN-ArialRegular.ttf") format("truetype");
  }

html, body { height: 100%; }
body { margin: 0; font-family: 'Arial' ;color: #222222 }



.mat-mdc-dialog-surface.mdc-dialog__surface {
      overflow-x: hidden;
  }
a {
      text-decoration: none;
      color: gray;
      margin-right: 20px;
      &:hover{
            color:#096ffa
      }
}
.tox .tox-editor-header {
      display: grid;
      grid-template-columns: 1fr min-content;
      z-index: 0;
  }

/* Importing Bootstrap SCSS file. */
hr {
      border: 0;
      border-bottom: 1px solid #bebebea3;
      margin: 10px 0;
}


h4,h3,h2 {
      margin: 10px 0;
      font-family: 'Merriweather';
}
h4{
      font-size: 14px;
}
img {
      cursor: pointer;
}
