.category-section-header {
      display: flex;
    border-bottom: 1px solid #bebebea3;
      align-items: flex-end;
  p {
    font-size: 22px;
    font-weight: bold;
    margin: 14px 0;
    margin-right: 20px;
  }
  .sub-categories-section{
    display: flex;
    .sub-category{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      margin: 14px 0;
      margin-right: 20px;
      width: fit-content;
      flex-wrap: wrap;
    }
  }
}
.center{
  display: flex;
  gap: 20px;
  .new-articles-cate {
      border-top: 1px solid #bebebea3;
      margin-top: 15px;
      .new-article-cate{
            display: flex;
            width: 100%;
            gap: 16px;
            height: 140px;
            margin: 20px 0;
        .new-article-cate-img {
          width: 220px;
          img {
            height: 100%;
            width: 220px;
            object-fit: cover;
          }
        }
        .new-article-cate-infor{
          width: calc(100% - 220px);
          .new-article-title{
            margin: 0;
            font-family: 'Merriweather';
            font-size: 15px;
            cursor: pointer;

          }
          .new-article-sapo{
            color: rgba(39, 39, 39, 0.822);
          line-height: 20px;
          font-size: 14px;
          margin: 11px 0;
          cursor: pointer;

          }
        }
        &:hover{
            p{
                  color: #096ffa;
            }
        }
      }
  }

}
header {
  font-size: 18px;
  border-top: 3px solid #3333332e;
  padding: 16px 0;
  .name-header{
    position: relative;
  }
  .name-header::after{
    content: "";
    background-color: #096ffa;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: -19px;
  }
}

.title:hover {
  color: #096ffa;
  cursor: pointer;
}
.container-hot-cate{
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      .layout-hot-article{
            width: 70%;
            border-right: 1px solid #bebebea3;
            padding-right: 20px;
            .hot-article{
                  display: flex;
                  height: 300px;
                  width: 100%;
                  background: #d2d1d134;

                  .image-article{
                        width: 65%;
                        height: 100%;
                        img{
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                        }
                  }
                  .info-article{
                        width: 35%;
                        padding: 0 20px;
                        .infor-article-title{
                              font-weight: 600;
                              font-size: 17px;
                              margin-bottom: 0;
                              font-family: 'Merriweather';
                              transition: color 0.3s ease;
                              cursor: pointer;
                              line-height: 23px;
                              &:hover{
                                    color: #096ffa;
                              }

                        }
                        .infor-article-sapo{
                              cursor: pointer;
                              color: rgba(39, 39, 39, 0.822);
                        }
                  }
            }
            .hot-articles-bottom{
                  display: flex;
                  gap: 15px;
                  .info-article{
                        flex:1;
                        .infor-article-title{
                              line-height: 20px;
                              transition: color 0.3s ease;
                              cursor: pointer;
                              &:hover{
                                    color: #096ffa;
                              }
                        }
                        .infor-article-sapo{
                              line-height: 23px;
                              color: rgba(39, 39, 39, 0.822);
                              cursor: pointer;
                        }
                  }
            }
      }

      .list-hot-articles{
            width: 30%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            position: relative;

            .list {
                  height: 500px;
                  width: 100%;
                  border: 1px solid #33333324;
                  border-radius: 3px;
                  overflow-y: auto;
                  .hot-article-item{
                        display: flex;
                        padding: 0 10px;
                        padding-top: 10px;
                        height: 80px;
                        gap: 20px;
                        align-items: flex-start;
                        .hot-article-title{
                              width: 60%;
                              font-weight: bold;
                              margin-top: 0;
                              font-family: 'Merriweather';
                              font-size: 13px;
                              line-height: 19px;
                              transition: color 0.3s ease;
                              cursor: pointer;
                              &:hover{
                                    color: #096ffa;
                              }

                        }
                        .image-article{
                              width: 40%;
                              img{
                                    width: 100%;
                                    height: 70px;
                                    object-fit: cover;
                              }
                        }
                  }
                  &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 100%);
                        width: calc(100% - 20px);
                        height: 80px;
                        top: 450px;
                  }
            }
            .articles-most-views-layout{
                  width: 100%;
                  .articles-most-views{
                    border: 1px solid #33333324;
                    border-radius: 3px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .artcles-view-most-item {
                  height: 80px;
                      display: flex;
                      align-items: flex-start;
                      .artcles-view-most-item-infor{
                        padding-left: 7px;
                        .most-item-infor-cate{
                          margin-top: 0;
                          font-size: 11px;
                          color:gray;
                          margin-block: 5px;
                        }
                        .most-item-infor-title{
                          font-size: 12px;
                          font-family: 'Merriweather';
                        }
                      }
                      .artcles-view-most-item-img{
                        height: 100%;
                         img{
                        height: 100%;
                        width: 72px;
                        object-fit: cover;
                      }
                      }

                    }
                    .artcles-view-most-item:hover{
                          cursor: pointer;
                          .most-item-infor-title{
                          color:#096ffa
                          }
                    }
                  }
                }
      }
}
a {
      color : #626262
}
.new-article-title {
      transition: color 0.3s ease;
}

      .new-article-title:hover{
            color: #096ffa;
      }


h4 {
      width: fit-content;
      margin: 0;
}
