
// .layout_content {
//       display: flex;
//       justify-content: center;
//       .example-container {
//             width: 100%;

//       }
//       .example-sidenav{
//             width: 15%;
//             padding: 15px;
//             background: #343A40;
//             color: #f1eeee;
//             .item_navigate {
//                   padding: 5px 20px;
//                   font-size: 16px;
//                   font-weight: 600;
//                   &:hover {
//                         cursor: pointer;
//                   }
//                   .icon{
//                         font-size: 20px;
//                         margin-right: 10px;
//                   }
//             }
//       }
//       .example-sidenav-content{
//             padding: 30px;
//             .content {
//                   box-sizing: border-box;
//                   background-color: white;
//                   border-radius: 10px;
//             }
//       }
// }
// .active_navigation {
//       background: #007BFF;
//       border-radius: 10px;
//       // color :#096ffa;
// }
.container{
      display: flex;
      position: relative;
      .navSide{
            width: 240px;
            padding: 0 10px 10px 10px;
            background: #fff;
            position: fixed;
            z-index: 2;
            box-sizing: border-box;
            height: 100%;
            .container-item{
                  padding-top: 15px;
                  .itemSub{
                        font-size: 14px;
                        margin-left: 44px;
                        font-weight: 600;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                        margin-bottom: 2px;
                        cursor: pointer;

                  }
                  .item{
                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        gap: 20px;
                        color: gray;
                        position: relative;
                        padding-left: 10px;
                        .lable{
                              font-weight: 600;
                              width: 58%;
                        }
                        .icon-module{
                              color: black;
                              font-size: 20px;
                              display: flex;
                              align-items: center;
                        }
                        &:hover{
                              .lable,.icon-module,.icon-arrow{
                                    color: #0347FF;
                                    cursor: pointer;
                              }
                        }
                        .container-subItem{
                              position: absolute;
                              left: 240px;
                              background: #fff;
                              width: 200px;
                              padding: 10px;
                              top:-5px;
                              border-radius: 5px;
                              border: 1px solid #bdbdbd90;
                              .subItem{
                                    padding: 10px 0;
                                    .lable-sub{
                                          font-weight: 600;
                                          &:hover{
                                                color: #0347FF;
                                                cursor: pointer;
                                          }
                                    }
                              }
                        }
                  }
            }

            .logo{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  height: 52px;
                  padding: 10px 0;
                  img{
                        object-fit: contain;
                        width: 150px;
                  }
                  .icon{
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 5px;
                  }
            }

      }
      .content{
            width: calc(100% - 240px);
            left: 240px;
            position: relative;
            .content-header{
                  padding: 0 20px;
                  background: #FEFEFE;
                  height: 72px;
                  width: calc(100% - 240px);
                  position: fixed;
                  top: 0;
                  font-size: 14px;
                  display: flex; align-items: center;
                  justify-content: space-between;
                  z-index: 10;
                  box-sizing: border-box;
                  .btn{
                        .btn-quick{
                              background: #0347FF;
                              padding: 5px 15px;
                              border-radius: 5px;
                              border: 0;
                              color: #fff;
                              gap: 5px;
                              display: flex;
                              align-items: center;
                              .icon{
                                    font-size: 18px;
                                    display: flex;
                              align-items: center;
                              }
                        }
                  }
                  .profile{
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        .role{
                              border: 1px solid #333;
                              border-radius: 10px;
                              display: flex;
                              align-items: center;
                              font-weight: 600;
                              width: 100px;
                              justify-content: center;
                              height: 30px;
                        }
                        .avatar{
                              cursor: pointer;
                              img{
                                    border-radius: 100%;
                              }
                        }
                  }
            }
            .outlet{
                  position: absolute;
                  top: 72px;
                  width: 100%;
                  background: #f8f8f8;
                  padding: 20px;
                  box-sizing: border-box;
            }
      }
}

.active{
      background: #0347FF;
color: #fff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
}

