.layout_header {
      display: flex;
      justify-content: center;
      height: 52px;
      border-bottom: 1px solid rgba(138, 134, 134, 0.311);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      background-color: white;
}
.layout_content {
      display: flex;
      justify-content: center;
      padding-top: 52px;
      height: 100vh;
      .example-container {
            width: 100%;
      }
      .example-sidenav{
            width: 15%;
            padding: 15px;
            background: #343A40;
            color: #f1eeee;
            .item_navigate {
                  padding: 5px 20px;
                  font-size: 16px;
                  font-weight: 600;
                  &:hover {
                        cursor: pointer;
                  }
                  .icon{
                        font-size: 20px;
                        margin-right: 10px;
                  }
            }
      }
      .example-sidenav-content{
            padding: 30px;
            background: #e9e8e8b1;
            .content {
                  box-sizing: border-box;
                  // overflow: hidden;
                  min-height: 600px;
                  background-color: white;
                  border-radius: 10px;
            }
      }
}
.active_navigation {
      background: #007BFF;
      border-radius: 10px;
      // color :#096ffa;
}
