<div class="container-hot-cate">
    <div class="hot-article">
        <div class="image-article">
            <img src="" alt="" />
        </div>
        <div class="info-article">
            <p class="infor-article-title"></p>
            <p class="infor-article-sapo"></p>
        </div>
    </div>
    <div class="list-hot-articles">
        <div class="hot-article-item">
            <p class="hot-article-title"></p>
            <div class="image-article">
                <img src="" alt="" />
            </div>
        </div>
    </div>
</div>
