<div
      class="hot-articles-category-parent"
      *ngIf="!isCateChid; else hotArticlesChild"
>
      <div class="hot-articles-category-left">
            <div
                  class="hot-articles-category-left-item"
                  [routerLink]="[
                        '/bai-viet',
                        hotArticles?.left?.new_article.slug,
                        hotArticles?.left?.new_article.slug_crc
                  ]"
                  *ngIf="hotArticles?.left?.new_article; else emptyLeft"
            >
                  <div class="image">
                        <img
                              (error)="handleImageError($event)"
                              [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    hotArticles?.left?.new_article?.avatar +
                                    '&height=400&width=610'
                              "
                              alt=""
                        />
                  </div>

                  <p class="title">
                        {{ hotArticles?.left?.new_article?.title }}
                  </p>
                  <p class="sapo">
                        {{ hotArticles?.left?.new_article?.sapo }}
                  </p>
            </div>
      </div>
      <div class="hot-articles-category-right">
            <ng-container *ngFor="let item of hotArticles?.right; index as idx">
                  <div
                        class="hot-articles-category-right-item"
                        [routerLink]="[
                              '/bai-viet',
                              item.new_article.slug,
                              item.new_article.slug_crc
                        ]"
                        *ngIf="item.new_article?.slug; else emptyRight"
                  >
                        <p class="title">{{ item.new_article.title }}</p>
                        <div class="image">
                              <img
                                    (error)="handleImageError($event)"
                                    [src]="
                                          'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                          item.new_article.avatar +
                                          '&height=200&width=300'
                                    "
                                    alt=""
                              />
                        </div>
                  </div>
            </ng-container>
      </div>
</div>

<div class="hot-articels" *ngIf="!isCateChid">
      <header class="header">
            <span class="name-header">Nổi bật</span>
      </header>
      <div class="articels">
            <ng-container
                  *ngFor="let item of hotArticles?.bottom; index as idx"
            >
                  <div
                        class="hot-articel"
                        [routerLink]="[
                              '/bai-viet',
                              item.new_article.slug,
                              item.new_article.slug_crc
                        ]"
                        *ngIf="item?.new_article?.slug; else emptyBottom"
                  >
                        <div class="image">
                              <img
                                    (error)="handleImageError($event)"
                                    [src]="
                                          'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                          item.new_article.avatar +
                                          '&height=200&width=300'
                                    "
                                    alt=""
                              />
                        </div>
                        <p class="title">
                              {{ item.new_article.title }}
                        </p>
                  </div>
            </ng-container>
      </div>
</div>

<ng-template #hotArticlesChild>
      <div class="hot-articles-category-child">
            <div class="hot-articles-category-left">
                  <div
                        class="hot-articles-category-left-item"
                        [routerLink]="[
                              '/bai-viet',
                              hotArticles.left?.new_article.slug,
                              hotArticles.left?.new_article.slug_crc
                        ]"
                        *ngIf="
                              hotArticles.left?.new_article?.slug;
                              else emptyLeftChild
                        "
                  >
                        <img
                              (error)="handleImageError($event)"
                              [src]="
                                    'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                    hotArticles.left?.new_article?.avatar +
                                    '&height=200&width=300'
                              "
                              alt=""
                        />
                        <p class="title">
                              {{ hotArticles.left.new_article?.title }}
                        </p>
                  </div>
            </div>
            <div class="hot-articles-category-right">
                  <ng-container
                        *ngFor="let item of hotArticles.right; index as idx"
                  >
                        <div
                              class="hot-articles-category-right-item"
                              *ngIf="
                                    item?.new_article?.avatar;
                                    else emptyRightChild
                              "
                        >
                              <div class="image">
                                    <img
                                          (error)="handleImageError($event)"
                                          [src]="
                                                'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                                                item?.new_article?.avatar +
                                                '&height=200&width=300'
                                          "
                                          alt=""
                                    />
                              </div>
                              <p class="title">{{ item.new_article?.title }}</p>
                              <p class="sapo">{{ item.new_article?.sapo }}</p>
                        </div>
                  </ng-container>
            </div>
      </div>
</ng-template>
<ng-template #emptyLeft>
      <div class="hot-articles-category-left-item">
            <div class="image-empty-left"></div>
            <div class="title-empty-left"></div>
            <div class="sapo-empty-left"></div>
      </div>
</ng-template>
<ng-template #emptyRight>
      <div class="hot-articles-category-right-item">
            <div class="title-empty-right"></div>
            <div class="image-empty-right"></div>
      </div>
</ng-template>
<ng-template #emptyBottom>
      <div class="hot-articel">
            <div class="image-empty-bottom"></div>
            <div class="title-empty-bottom"></div>
      </div>
</ng-template>
<ng-template #emptyLeftChild>
      <div class="hot-articles-category-left-item">
            <div class="image-empty-left-child"></div>
            <div class="title-empty-left-child"></div>
      </div>
</ng-template>
<ng-template #emptyRightChild>
      <div class="hot-articles-category-right-item">
            <div class="image-empty-right-child"></div>
            <div class="title-empty-right-child"></div>
            <div class="sapo-empty-right-child"></div>
      </div>
</ng-template>
